[2017-07-18 21:20] mradamcox opened #1 "Create login and styling for Florida state park staff access"
Need to make separate login for state park staff who will be accessing the database. Ideally, this will utilize some new css that will give a different look and feel to the interface.

[2017-11-20 22:01] mradamcox opened #5 "Filter resources from Search Results based on single attribute"
Create the ability to filter resources from the Search results based on specific attribute values. This will be used in two ways:

First, if a Scout is logged in, their username will be compared to the "Assigned To" value in a resource, and they will be able to see the site only if their name is in that attribute.

Second, if a state user is logged in, this filter will check their name/group name

[2017-11-20 22:07] mradamcox opened #6 "Filter Archaeological Sites from map layers"
Similar to #5 but applied to whatever passes geometries to the map. See also https://github.com/archesproject/arches/issues/2492

[2017-11-20 22:08] mradamcox opened #7 "Filter Archaeological Sites from related resources"
Similar to #5 but applied to the view that retrieves related resources.

[2017-11-20 22:08] mradamcox opened #8 "Create "Spatial Join" function"
Create "Spatial Join" function that can reference a resource's geometry and assign an attribute from a local PostGIS stable based on the feature that the geometry intersects. This is to support the automated addition of a "Region" attribute in resources, which will be used to filter scouts in the Scout Widget. This function will also be used to assign the name of a state land management area attri

[2017-11-20 22:09] mradamcox opened #9 "Create "Scout Widget" that lists Scout usernames"
Create "Scout Widget" that will allow an admin to assign a scout to a resource. This widget should filter the available scouts based on whether the resource in question falls within a region that a scout has expressed interest in monitoring.

[2017-11-20 22:09] mradamcox opened #10 "Allow scout to print entire Scout Visit card"
Allow scout to print entire Scout Visit card.

It would be absolutely wonderful to create the generic ability to print ANY card, but for this ticket, it would be sufficient to hard-wire the function to this specific use case.

[2017-11-20 22:12] mradamcox opened #11 "Create initial signup form for Scouts, and Scout Profile"
- [x] create signup form
- [x] require e-mail verification
- [x] require scouts to sign ethics agreement
- [x] allow scouts to select multiple Regions where they are interested in monitoring sites
- [x] allow scouts to select multiple types of interest in sites

[2017-11-20 22:12] #11 closed, assigned to bedubs

[2017-11-20 22:13] #8 closed, assigned to mradamcox

[2017-11-20 22:14] mradamcox commented on #9
Initial work completed by @bedubs . Next steps are to include a couple pieces of information from the Scout's profile in the display of their name in the dropdown, and finish the configuration so that values are actually saved to a tile.

[2017-11-20 22:16] mradamcox commented on #10
For a basic example of how printing can work, see the combination of https://github.com/mradamcox/ead/blob/master/ead/media/js/resource-report.js#L100 and https://github.com/mradamcox/ead/blob/master/ead/media/css/package.css#L41

[2017-12-01 16:52] #9 closed, assigned to mradamcox

[2017-12-06 16:25] mradamcox opened #15 "Fix Static Directory References"
Something is slightly wrong, because messages like this show up when running `collectstatic` in production.

[code]

This is likely because a static directory is duplicated somewhere, or is perhaps referenced twice in settings.

[2017-12-12 02:35] mradamcox commented on #5
https://github.com/legiongis/arches/pull/2

[2017-12-12 17:05] #5 closed, assigned to mradamcox

[2017-12-12 17:13] mradamcox commented on #6
As far as map layers derived from search results are concerned, this is taken care of with https://github.com/legiongis/arches/pull/2. However, the Archaeological Site overlay still needs to be altered somehow so it only shows the sites that a user is allowed to see.

An alternative solution would be to not use the Archaeological Site overlay at all, in favor of a new type of overlay that is only

[2017-12-19 22:23] bedubs commented on #15
Fixed. This was an issue with the static root being named static and being within an app that is included in the installed apps (fpan). `collectstatic` was collecting all the static files into that directory then looking into that directory for static files to collect.

Move static root outside the fpan directory and changed local settings file and apache config file.

[2017-12-19 22:23] #15 closed, assigned to bedubs

[2017-12-20 18:18] mradamcox opened #16 "Make FPAN 404 and 500 templates"
we need some basic error templates in the root of the templates directory.

[2017-12-20 18:24] mradamcox opened #17 "Complete dynamic css conversion for Scouts vs. State vs. Admin users"
Initial work has been started to incorporate different stylesheets based on what type of user is viewing the page. This needs to be completed.

Specifically, in all pages inheriting from `base-manager`, the left-hand menu bar and items background color needs to be unified, as well as the font. It would be nice to also color links based on user type, according to the color used for the top border o

[2017-12-20 18:27] mradamcox opened #18 "Remove Archaeological Site overlay from map"
Ideally, this layer should only be available to a few user groups. However, for the soft launch, it should be removed completely.

[2017-12-22 20:01] mradamcox opened #19 "Finish State/Scout Home pages, improve login, clean up main home page."
This ticket is just to track the general work that still needs to be performed to finish up the template system.

[2017-12-25 19:49] #17 closed, assigned to nobody

[2017-12-26 17:09] mradamcox commented on #16
I think these templates should inherit from `base-manager.htm`, as opposed to `fpan-base.htm`. This is because I expect that the vast majority of 404 or 500 errors will occur within the database pages, not our small set of home/login pages.

[2017-12-28 00:05] bedubs commented on #16
When I use `base-manager.htm`, I get a 500 (even on a 404) and a `VariableDoesNotExist` error. It's looking for a `nav` variable. When I use `base.htm`, which is what `base-manager.htm` extends, I get a never-ending time wheel. Do you know if there is a way to pass that `nav` variable to the 404 response? When I extend `fpan_base.htm`, I don't have a problem, but it doesn't use the right base temp

[2018-01-02 21:52] mradamcox commented on #16
I see what you mean about the `nav` variable. Let's use the `fpan_base.htm` template for these 500 and 404 templates. I think that's the best way to solve it for now.

[2018-01-04 05:02] mradamcox commented on #19
- [x] Replace State Seal with Division of Historical Resources Logo (blue, written logo). The
reason for this is we are not allowed to use the State Seal without Detzner’s permission. It will
take too long to get that permission, so let’s just go the easy route. Plus the DHR logo will be
more recognizable to Forestry and Parks staff.
- [x] At the login window, add a note about the formula for logi

[2018-01-05 16:48] mradamcox commented on #6
closed for now in favor of #18

[2018-01-05 16:48] #6 closed, assigned to nobody

[2018-01-11 16:52] mradamcox commented on #16
looks great, though I found this arches issue in the meantime: https://github.com/archesproject/arches/issues/2888

[2018-01-11 16:52] #16 closed, assigned to bedubs

[2018-01-12 16:54] mradamcox opened #26 "Error when non-logged in users try to filter by arch. site"
If a guest user is looking at the map and tries to filter by type for Archaeological Sites, an error occurs. What needs to happen is just 0 search results return.

[2018-01-12 21:56] mradamcox commented on #26
fixing this led to a pretty big change to how the user permissions are stored and handled. overall, a big improvement.

[2018-01-12 21:56] #26 closed, assigned to mradamcox

[2018-01-22 16:54] mradamcox opened #27 "fix upper left logo to show fpan logo for guests and admin"
Right now the state logo is used when a user is not logged in.

[2018-02-01 22:36] mradamcox opened #28 "allow admin login through scout login portal"
Currently, the admin user is only able to login if they use the state land manager portal. This should be changed so an admin can get in through the Scout portal as well.

[2018-02-09 23:58] #27 closed, assigned to mradamcox

[2018-02-09 23:59] #28 closed, assigned to mradamcox

[2018-02-12 22:26] mradamcox commented on #18
solution is now to add a setting that is referenced in the tileserver view, and will return 404 for data requested by users that do not belong to a group that has explicitly been given access.

[2018-02-12 22:26] #18 closed, assigned to nobody

[2018-02-12 22:29] mradamcox commented on #18
https://github.com/legiongis/arches/commit/f63f63e1e7822dabc9e9e5f3eeae651730d184aa

[2018-02-15 02:10] mradamcox commented on #10
Taken care of with https://github.com/legiongis/arches/commit/ed71e017fdd2158dddcda358416907979e0da4ce. In this case, a very basic setup allows for a menu name to be specified in settings.py, and then the print button will show up there.

[2018-02-15 02:10] #10 closed, assigned to bedubs

[2018-03-10 21:14] mradamcox opened #29 "Error with added overlay when checking permissions to view the layer"
The permissions logic that has been added to disallow certain users from viewing a layer breaks when a custom overlay is activated. Especially this line https://github.com/legiongis/arches/blob/fpan_master/arches/app/views/tileserver.py#L56 which raises an exception that has not been imported.

[2018-03-21 17:51] mradamcox opened #30 "Add additional map layers"
Ideas for this include:

- [x] - the sea-level-related layers already in use in the original HMS map
- [x] - historic map from 1919 showing the coastline (west side only)
- [x] - fpan region overlays
- [ ] - FL county overlays

[2018-03-23 17:39] mradamcox opened #31 "Need a way to download a list of all signed up scouts"
This could take many forms, and could utilize some existing views. At the very least, a download of scout names, interests, and general info is needed to complete this ticket.

[2018-03-23 21:09] mradamcox opened #32 "Add and incorporate Counties throughout the system"
Many FPAN metrics would be benefit from being aggregated by county. To properly implement this, the following should be taken into consideration:

- [x] add a new County model, as Regions have already been added
    + this would involve getting a county shapefile and creating a fixture from it so all counties are loaded by default
- [x] add county to Scout Profile
    + this would be a ManyToMany

[2018-03-23 21:25] mradamcox opened #33 "Create an Admin permission role for FPAN field offices"
Currently the only users with full privileges are superusers. A new level of user must be created that would fit the needs for a region FPAN office. This role should have the following characteristics:

+ no staff access
+ ability to assign scouts to sites
+ access to RDM? (pretty sure not)
+ access to Arches Designer? (pretty sure not)
+ no access to system settings
+ no access to map layer manag

[2018-03-23 21:52] mradamcox opened #34 "concept display bug in some reports"
I have noticed that some bug in the resource report causes dropdowns (editable widgets) to appear in the reports, instead of just displaying the saved values.

This could be caused by an error that occurs earlier in the template rendering process, or by bad data.

[2018-03-23 22:15] mradamcox opened #35 "Allow multiple scouts per Scout Visit"
Change the Scout ID node to allow multiple values. This could be wrapped into a more extensive remodeling of the Scout Visit structure.

[2018-03-23 22:18] mradamcox commented on #31
all done

[2018-03-23 22:18] #31 closed, assigned to mradamcox

[2018-03-23 22:23] mradamcox opened #37 "Add more e-mail notifications throughout app"
The infrastructure is in place for e-mails to be sent to all scouts, admins, etc. However, at present e-mails are only sent to scouts to complete the signup process.

Some ideas for e-mail notifications:

- [ ] alert scouts when a site has been assigned to them
- [ ] scouts report special site complications to admins
- [x] periodic summaries of condition reports sent to admins
- [ ] periodic summa

[2018-03-23 23:02] mradamcox commented on #29
fixed with this commit in the arches branch that this app uses https://github.com/legiongis/arches/commit/d1a212936220de9c07e5505af3db14bf635e28b3

[2018-03-23 23:02] #29 closed, assigned to mradamcox

[2018-03-23 23:56] mradamcox opened #38 "Restrict editing past condition assessments to only those who created them"
Past condition reports should only be editable to the scouts who created them.

Note that this would already be solved if Condition Assessments/Scout Visits were split out into a separate resource model.

[2018-03-26 18:55] emjaymur opened #39 "Scout data and site labels"
This is more of a musing than a specific problem that needs to be fixed.

As I understand it, each sites is labeled with FPAN regions and basic site types. This information is also included on the scout application. In order for me to be able to assign a scout an archaeological site, the scout must have selected the corresponding region and site type. Let me know if I'm correct because if not, wha

[2018-03-26 19:13] emjaymur opened #40 "Map View Options"
Could we set the standard map view where it does not show the hexagon overlays and markers for the top sites? Mostly wanting to see if that's an option. Is there a good reason for keeping them? (not to sound snarky, just wanting to know if there's some other function of them that I'm missing)

Discussion for FPAN to have: I think it's easier to view and navigate without the hexagons. I think the s

[2018-03-26 19:27] mradamcox commented on #39
Hey @emjaymur, you're right that each site has a site type and region attached to it, however only the region designation is used to filter scouts. When a scout fills out their profile and says they are interested in a type of site, they are not restricting their access to other sites, just recording their preference. So in the assignment dropdown, we included the site type preference for you as a

[2018-03-26 19:59] emjaymur opened #41 "Site Information Page"
These are changes to the page that comes up when you click on the name of a resource.

Can we change the Search icon and hover text? Maybe "Database Home" (or just "Home") and a house icon?

When I get to the main page with the site basic site information, there's this "Edit Mode" bar at the top of the map. Is there a way to get rid of that? It doesn't do anything but makes it look like I have mor

[2018-03-26 20:02] emjaymur opened #42 "Search Page edits"
In the left column, each resource has it's own little box. Can you change the "Edit" text and icon? To keep things consistent, let's use "Log Visit" and the little guy that you have as an icon on the individual resource pages.

How is the "Recent Edits" supposed to be used? Do we need to keep that there?

![main page](https://user-images.githubusercontent.com/37811747/37929730-c100cf72-310e-11e8-9

[2018-03-26 20:06] emjaymur opened #43 "Related Resources"
Just wondering how this feature works. Will it link sites that are related based on FMSF data? For instance, linking the files for a cemetery, a structure and an archaeological site all labeled as Nombre de Dios? Or does this somehow build links between similar sites? Right now, nothing I've click on seems to have anything related to it.

[2018-03-26 20:38] emjaymur opened #44 "New Windows Opening"
Each time I select a resource, Arches opens a new window. And then I end up navigating back to the main map in that window. So before I know it I have 18 different windows open. Just wondering if that's a feature we can turn on and off.

[2018-03-26 20:48] emjaymur opened #45 "Scroll Issues in Firefox"
On the page for logging scout reports, I can't scroll vertically when using Firefox. It will scroll horizontally. It seems to work just fine in Chrome. I tried clicking through all of the options (Site Summery, Site Location and Scout Visit) but it doesn't work for any of them. Haven't noticed on other pages but will update if I do.

![scout report](https://user-images.githubusercontent.com/378117

[2018-03-28 15:13] emjaymur opened #46 "Edits to Scout Report Form"
Here's a few comments, questions and edits for the Scout Report itself.

- Remove "Type of Visit" Initial or Follow-up
- Is there anyway to include a specific time stamp for time of day?
- Can we add "Shell Midden" to the "Artifacts Visible" section? What about adding "grave markers" and/or "grave goods?"
- Should "Overall Site Condition" be moved to "Report Evaluation?"

[2018-03-28 16:12] emjaymur opened #47 "Non-User database access"
As it looks now, people without usernames can still see past reports and photos. They can only see cemeteries and structures, so they shouldn't be able to see anything too sensitive. While this could be good persuasion for others to join and start monitoring themselves, there could be a situation with images of exposed human remains posted online publicly, for instance.

So:
- Is there a way to re

[2018-03-28 17:30] emjaymur opened #48 "Phone Interface Issues"
These may be bigger issues than you, Adam, but wanted to log my issues with the phone interface.

- You can scroll around on the map on the search page but you cannot select a resource by tapping on it. It just manipulates the map.
- The scout report page doesn't show up correctly. Everytime I loaded it, the"Print Assessment Form" text link shows up on top of the first two tabs (Arrival Informatio

[2018-04-02 14:23] mradamcox commented on #45
@emjaymur unfortunately, this is still a limitation of Arches in general: it is only 100% supported on Chrome. However, progress is being made on that front so we will eventually be able to incorporate those changes into HMS.

Looks like someone just made this issue on the main Arches repo also: https://github.com/archesproject/arches/issues/3171

[2018-04-02 14:23] #45 closed, assigned to nobody

[2018-04-02 17:33] rosulliv14 commented on #40
I agree on the no hexagons. I'm pretty sure that is one of the options we can switch on or off in the Uber Admin section if I remember correctly

[2018-04-03 00:50] mradamcox commented on #48
First, can you confirm that you are using Chrome on the table/phone? By and large, the phone interface will always be clunky, as that is what the mobile app will handle in the future.

I'll see what I can do about these issues though. The photo upload is a real concern, I'm not sure why it would be failing like that, so I'll check it out as soon as I can.

[2018-04-03 22:02] emjaymur commented on #48
I tried Chrome - works better. I was able to navigate the Scout Report a little easier. I think a lot of it does have to do with your cellular reception. But it's still not working to upload photos. It just gives you the spinning wheel of death.

[2018-04-05 20:28] mradamcox commented on #40
Ok sounds good. There is another issue with the hexagons that I logged in the main Arches repo a while ago: https://github.com/archesproject/arches/issues/2820
I just did it, but deactivating the Hexagons happens in the Map Layer Manager > Overlays > Search Results for future reference.

[2018-04-05 20:33] mradamcox commented on #40
I also agree that the Search Markers layer is a little confusing at first, but would advocate for keeping it because otherwise there is nothing that links the map markers with the search results. In my mind, the actual best would be if the full layers could be altered to only show the search results, but that is not supported at this time.

[2018-04-05 20:42] mradamcox commented on #44
It is something I should be able to change relatively easy. I'll leave it as low priority now though, in favor of other issues.

[2018-04-05 20:52] mradamcox commented on #43
@emjaymur Great question. Related Resources are a feature of Arches that allow for qualified relationships to be created between any two resources in the database. In the past, I've had a cemetery dataset, where each interred individual was a resource, as well as the grave, and they were connected to each other with resource-to-resource relations. In the case of FPAN, we considered relationships b

[2018-04-09 19:56] mradamcox commented on #42
@emjaymur it shouldn't be too difficult to change the icon.

As for the Recent Edits page, in the version of Arches that HMS uses (4.0.1) that page actually doesn't hold a whole lot of information, I think we would be safe to remove it. Here's some more reference on the work that has been done on the recent edits page more recently https://github.com/archesproject/arches/issues?utf8=%E2%9C%93&q=is

[2018-04-09 19:59] mradamcox commented on #46
@emjaymur I am moving this to the fpan-data repo, where all of the resource model definitions are stored.

[2018-04-09 20:00] mradamcox commented on #46
This issue was moved to legiongis/fpan-data#6

[2018-04-09 20:00] #46 closed, assigned to nobody

[2018-04-09 20:05] mradamcox commented on #47
@emjaymur with the current resource model setup, excluding from public view _some_ cemetery and structure scout reports but not all would be very difficult to do. Though I do understand the desire to do so. It may be best to just make sure that scouts don't upload photos with human remains for now.

I have been working on a new structure to separate the scout reports into a different resource mode

[2018-04-09 20:05] #47 closed, assigned to nobody

[2018-04-09 21:23] mradamcox commented on #41
https://github.com/archesproject/arches/commit/03207b8e0a77e456691889cd039bbf4a0d8ad0c1

[2018-04-10 15:01] #42 closed, assigned to mradamcox

[2018-04-10 16:36] mradamcox commented on #40
@emjaymur If you are ok with leaving the markers on, could you close this issue, and if not, we should discuss it further here.

[2018-04-10 16:59] mradamcox commented on #7
currently related resources are disabled, so this is not a pressing issue. I'm closing it for now, as I believe a variation on this issue will be come up in the future.

[2018-04-10 16:59] #7 closed, assigned to nobody

[2018-04-16 15:25] mradamcox commented on #48
@emjaymur Ok, I have been testing the photo upload on mobile, and I think things are working ok now. Unfortunately there is no upload progress bar after you hit "Add" to add a photo, and the spinning wheel of death may just spin for a while because it is taking a long time to upload a photo. It seemed to take longer to upload a photo from my phone than from my laptop (not sure why).

[2018-04-16 15:34] mradamcox commented on #48
I did encounter an internal error which would have caused the death wheel to spin forever, but after fixing that I then got a timeout error (red bar across the top of the page) the first couple of times I tried uploading (after waiting a while). So I just increased the timeout limit on the server and was able to upload a photo. If you could try again and just be very patient with the upload, we'll

[2018-04-16 16:35] rosulliv14 commented on #30
Could we also include a layer with State Park boundaries?

[2018-04-16 16:40] rosulliv14 opened #49 "Fake Sites"
I think we are good to remove fake sites now

[2018-04-16 16:45] rosulliv14 opened #50 "State Park Sites"
Was just going through looking at the state park sites you uploaded. Looking great and fantastic to see this coming together. I did notice a few sites missing that I know of within state parks, so will need to do some checks to make sure sites didn't get left out. In particular, 8SJ03536 within Anastasia State Park and 8FL00007C within Bulow Plantation Ruins State Park. Obviously didn't get a chan

[2018-04-16 18:07] mradamcox commented on #44
https://github.com/legiongis/arches/commit/deadc98e683d1024dc58b920d5b34ce37dae6cc3

[2018-04-16 18:07] #44 closed, assigned to nobody

[2018-04-16 19:16] #41 closed, assigned to mradamcox

[2018-04-16 19:17] mradamcox commented on #48
https://github.com/legiongis/arches/commit/006af8fa8221789627e81f9ffb8ef3e0d91c92b4

[2018-04-16 19:48] mradamcox commented on #48
@emjaymur all 3 of these issues should be fixed now:
- [ ] map popup works when viewing map on mobile
- [ ] "Print Assessment Form" button better spacing
- [ ] photos upload without erroring (though it may take a little while)

Once you are able to test these things out, could you please close this issue if everything works ok? Thanks!

[2018-04-16 19:51] mradamcox commented on #43
@emjaymur if this is a satisfying answer would you mind closing this ticket?

[2018-04-16 19:56] emjaymur commented on #40
The map is much easier to navigate without the hexagons. I think the markers make a lot more sense now, so I'm good to leave them.

[2018-04-16 19:56] emjaymur commented on #40
I can set this up as a whole new issue, but I am now having issues with viewing archaeological sites that I've added to my account. They show up with the markers, but the overall shape of the site does not show up, as it does while in the admin account.
![map view arch site](https://user-images.githubusercontent.com/37811747/38831850-ab822d68-418e-11e8-89f8-5885ea9e0a94.jpg)

[2018-04-16 19:58] #43 closed, assigned to nobody

[2018-04-16 19:58] emjaymur commented on #48
I'll test these out tomorrow and will get back with you. Thanks!

[2018-04-16 20:09] mradamcox commented on #40
Yes, it would be best to make a new issue for this and close this issue.

[2018-04-16 20:10] #40 closed, assigned to nobody

[2018-04-16 20:11] emjaymur opened #51 "Arch Site Map View Issue"
I am having  issues with viewing archaeological sites that I've added to my account.  They show up with the markers, but the overall shape of the site does  not show up, as it does while in the admin account.
![map view arch site](https://user-images.githubusercontent.com/37811747/38832504-c15e81fc-4190-11e8-888d-c9ac9bd211e7.jpg)

[2018-04-16 20:44] emjaymur commented on #48
Ended up trying it out this afternoon after all.
- The dialogue box still will not open when I click on a resource on the map.
- "Print" definitely better spaced
- Photo uploads - Tested it out on wifi and cellular data and it worked well on both. It of course, works better on wifi, but I'm pretty sure I have Sprint to blame for that. I can't seem to be able to go back into the uploaded sections t

[2018-04-16 21:10] mradamcox commented on #48
Ok, for the map popup, I think you may need to refresh your browser cache. The method for this will be different depending on whether you are on an android or iphone, but this seems like a good trick https://android.stackexchange.com/a/88713.

[2018-04-17 12:27] emjaymur commented on #48
That worked! :-D

[2018-04-17 12:28] #48 closed, assigned to emjaymur

[2018-04-17 14:15] rosulliv14 commented on #51
I noticed this as well, originally this was also happening for the Admin account. In the admin account I went in to the "Map Layer Manager" and switched over the button for "Add to search map by default". That fixed it for the admin account and the other admin level type logins (like for FMSF etc) but not for the state park level logins or scouts.

![arches1](https://user-images.githubusercontent.

[2018-04-18 03:12] mradamcox commented on #51
@emjaymur, this is not by design per se, but it is the best I was able to do when implementing the new permissions system. Filtering that archaeological site layer in the same way that the actual search results are filtered (in the case of scouts, for example, based on their user name) is very complex and I have yet to figure out the best way to do it. What you have described is the original way I

[2018-04-18 03:21] #49 closed, assigned to mradamcox

[2018-08-08 17:13] mradamcox commented on #51
@emjaymur can we close out this issue?

[2018-08-08 17:17] mradamcox commented on #50
@rosulliv14, when you get a chance, could you do a little spot-checking on these sites? Now that all of the archaeological sites have been loaded, these will hopefully be present. However, there were some sites that had errors in the geometry I received from FMSF, so I was unable to load them.

[2018-08-08 17:19] mradamcox commented on #39
@emjaymur do you think we could close this ticket? If you have decided that some new functionality would be beneficial, it would be best to create a new ticket and describe it there.

[2018-08-08 17:29] #35 closed, assigned to mradamcox

[2018-08-08 17:33] mradamcox commented on #33
This has been done. The necessary groups are "FL_BAR" and "Graph Editor".

[2018-08-08 17:33] #33 closed, assigned to mradamcox

[2018-08-08 17:35] mradamcox commented on #19
Leaving out the filler text, though it may be useful in an update to these pages at a later date.

[2018-08-08 17:35] #19 closed, assigned to nobody

[2018-08-09 10:59] #39 closed, assigned to nobody

[2018-08-09 10:59] #51 closed, assigned to nobody

[2018-08-09 11:03] emjaymur opened #52 "Timestamp for Dashboard"
Could you add a timestamp column that reflects when scouts created their accounts to the tabular user data that is downloaded from the Dashboard page? It will be easier to differentiate new users when uploading names to MailChimp. It will also help us track users for our annual reports. Thanks!

[2018-08-21 17:47] mradamcox commented on #34
removing from Official Launch milestone as this issue hasn't popped up for a long time and may be solved. Once concerted testing is performed it can be closed.

[2018-08-21 19:01] rosulliv14 opened #53 "GIS update schedule for Site File data"
For this Wish List... Need to think of a schedule for updating data from FMSF and include that in work plan for Adam

[2018-08-22 15:16] emjaymur opened #54 "Add publicly interpreted sites to scout accounts"
We'd like to add a set of publicly interpreted and accessible sites as a default to all scout accounts. I'll attach a draft list of sites to play around with sometime this week.

[2018-08-22 15:20] emjaymur opened #55 "Add additional fields for data at underwater sites"
We'd like to collect some additional information about underwater sites, including water conditions, environmental conditions, surrounding habitat, and additional threats. Can get better list from the underwater folks when we're ready to move on this.

[2018-08-22 15:22] emjaymur opened #56 "Archaeological site outlines to show on scout maps"
We've talked about this before, but just adding it in as a wish list item in case any future restructuring will help make this easier to do. It's creating a little confusion about site assignments as scouts can't quite see everything that has be assigned to them.

The outlines of archaeological sites do not show up on the main landing map of scout accounts. You can find them when searched/sorted f

[2018-08-22 15:58] emjaymur opened #57 "Creating new sites"
Is there a simple and easy way for us to create new sites? Or is this something best left up to an annual update and based on the FMSF data? (The assumption is that we would also be adding to the FMSF at the same time.)

[2018-08-22 16:03] emjaymur opened #58 "FWC Sites"
Just logging this here -

FWC user accounts are showing AP sites instead of FWC sites.

[2018-08-22 17:04] rosulliv14 commented on #57
You can create new sites when you are signed in on the admin account, you can draw in the geometry and manually enter the site info - although probably easiest to add lots of sites when we get the annual FMSF updates I'm sure

[2018-08-24 14:26] emjaymur commented on #54
Here's a couple of sites to play with for creating the public layer. I can get a more formal list, but it will take a little time to reach out to other regions.

[Archaeological Sites for Public Layer.docx](https://github.com/legiongis/fpan/files/2318719/Archaeological.Sites.for.Public.Layer.docx)

[2018-08-31 17:53] emjaymur opened #59 "Scout Report Evaluation Recommendationss"
Can you make these check boxes instead of multiple choice? In other words, make it where you can select more than one. Thanks!

[2018-09-03 18:24] mradamcox commented on #59
This should be taken care of now. @emjaymur could you confirm, and close this ticket if so?

[2018-09-03 18:25] mradamcox commented on #57
@emjaymur and @rosulliv14 , if we want to maintain a correlation with the FSMF, I think it would be best to wait until the periodic updates to add more sites, even you can add them as becky described above.

[2018-09-04 14:30] emjaymur commented on #57
I think that sounds like the best option as well.

[2018-09-04 14:30] #57 closed, assigned to nobody

[2018-09-04 14:32] emjaymur commented on #59
Thanks!

[2018-09-04 14:32] #59 closed, assigned to nobody

[2018-09-05 19:49] mradamcox commented on #58
@emjaymur This should be solved now. Give it a shot and let me know.

[2018-09-07 17:10] mradamcox commented on #53
@rosulliv14 and @emjaymur I'm waiting to hear back from Chip about this, but you may know too: about how many sites do you think are added per month, or per quarter? Same question for structures and cemeteries.

[2018-09-07 17:19] mradamcox commented on #56
@emjaymur yeah, this is a really good issue to bring up. It's because as a whole, the Scouts don't have access to the archaeological sites locations, and the resource overlays on the map are not filtered in the same way that the search results are when scouts look for their assigned sites. Another way to think of this ticket is to filter all resource map layers to match the current search results.

[2018-10-30 12:53] emjaymur opened #60 "Advanced Search Feature"
Some of these features do not work for scout accounts. For instance, I can search for cemeteries by county by going to Identification and searching FMSF ID Like using the two-letter county code. This will work in the admin accounts and the FPAN regional accounts (that have BAR credentials). It will not work for a scout account.

[2018-10-30 13:01] emjaymur commented on #58
Sorry for the delay. I checked a few sites that I know and it all looked good.

[2018-10-30 13:01] #58 closed, assigned to emjaymur

[2018-11-05 16:21] emjaymur opened #61 "AP site issues"
It looks like a few Aquatic Preserves were overlooked in the account creation. I was able to make an account for Charlotte Harbor APs and add it to the Aquatic Preserve group. However, the sites they manage down near Fort Meyers are not in the list of AP sites. The total number of sites for APs is 249 in Arches - but there's at least 200 in the Charlotte Harbor APs alone. Should I check with the S

[2018-11-05 16:22] emjaymur opened #62 "Un-assignable sites"
Just starting a list with sites that I could not assign to scouts in the system. The dropdown menu was blank.

BR00200

[2018-11-05 18:58] mradamcox commented on #62
@emjaymur, in the case of the site you listed so far, it's a shipwreck and my guess is that it fell outside of the FPAN region boundaries I used early on in the process of automatic region assignment. (I've reworked that process a couple of times.) You can make this site available by assigning the correct region in the "Located in..." tab in the Site Location menu.
![image](https://user-images.git

[2019-01-29 16:08] mradamcox commented on #60
Good find @emjaymur. This certainly has to do with the permissions handling that I have set up to restrict scouts from seeing all sites, so I'll look into it when I get a chance.

[2019-01-29 17:00] emjaymur opened #63 "Site Form bug and edits"
Can you change the wording on this site location option, under the "Arrival Information" tab?

"Mission location verified" to "Site location verified"

The "What did you find?" section seems to have gotten a little out of order. The blank space for to write in info about artifacts has migrated to the top of the page instead of being underneath the "Other" option. The section for comments on site i

[2019-01-29 17:06] mradamcox commented on #63
Hi @emjaymur , you should actually be able to make both of these changes yourself. Log in with the administrator account and then go to the Arches Designer > Resource Models, and ultimately you are looking for the Card Designer. In there you can change the names of the cards that users see, and you should also be able to change the order of the items. Let me know if you have any questions!

[2019-01-29 18:39] emjaymur commented on #63
Hey @mradamcox. Thanks! I was able to rearrange everything but couldn't change the text on the Location Verification options. Am I missing something else?

[2019-01-29 19:14] mradamcox commented on #63
@emjaymur If you look in the Card Designer and then click on the left-hand tree to select the "Scout Visit Location Verification" widget, you should be able to change the label. BTW, this whole graph design system is much much better in the more recent version, so it's good that we'll be updating.

[2019-01-29 19:40] emjaymur commented on #63
@mradamcox I can see where you change the widget label but I wanted to change the options for answers and don't see how to make those editable.

[2019-01-29 20:04] mradamcox commented on #63
Oh! Gotchya. Yes, you can head over to the RDM (also on the left side-bar) and that's where the controlled vocabularies are. Dropdown entries are considered "Concepts". If you just want to change the display label of a concept, that's pretty easy. If you want to add a new concept to a dropdown, first create the concept in the thesaurus, and then add it to the appropriate collection. Use the ? butt

[2019-01-29 20:08] emjaymur commented on #63
Wooo! I got it changed. Thanks!! :-D

[2019-02-04 12:12] emjaymur opened #64 "FL Aquatic Preserves"
From what I can tell, the only sites in the "aquatic preserve" user group are only sites found in National Estuarine Research Reserves located in Apalachicola, Naples and St. Augustine/Palm Coast. It does not include aquatic preserves from throughout the state.

[2019-02-05 12:28] #62 closed, assigned to nobody

[2019-02-05 20:21] emjaymur commented on #63
Hey @mradamcox I've reordered the forms multiple times - and hit save! - but they keep reverting to the same out-of-order state again. Any thoughts?

[2019-05-09 16:22] emjaymur commented on #63
Hey @mradamcox I tried to reopen a few months back but I don't think it worked. I've reordered the forms and it doesn't stick. So it's still out of order. Any thoughts?

[2019-05-11 17:00] mradamcox commented on #63
Hey @emjaymur sorry for missing this earlier. I think that that's an issue with Arches that has since been solved with later updates. Which we'll be applying in the FPAN update! In fact, that backend graph designer portion of Arches has been significantly redesigned, so I'm looking forward for you to get to check it out.

[2019-05-14 17:56] emjaymur opened #65 "Scrolling Issue"
Hey @mradamcox - We can't seem to scroll on the Arches website (even in Chrome). You can scroll on individual resources pages but not on the main page (through the search bar) or when filling out a scout report. There may be other portions but this is what I've noticed for now. Thanks!

[2019-05-14 20:56] mradamcox commented on #65
Hi @emjaymur I think I have this fixed now, though it's a very strange issue to pop up all of a sudden! I believe the fix I made works across the site, and should hold us until the upgrade is completed, but please let me know if you find any other strangeness that seems related to height/scrollbars.

[2019-05-14 20:57] mradamcox commented on #65
You may have to hard refresh the browser for the new css to take effect.

[2019-05-20 18:00] emjaymur commented on #65
I still can't get it to scroll. I tried the hard refresh. :-/

[2019-05-20 18:21] rosulliv14 commented on #65
I just logged in on the admin account and was able to scroll down in the search bar and scout report sections, tried with another login and that worked for me too - but maybe I'm not looking to scroll in the same places you were? Will try some more to replicate on my computer

[2019-05-20 19:03] mradamcox commented on #65
@emjaymur and @rosulliv14 I think I have this fixed now, could you do some testing and let me know? It's more of a temp fix that should be sufficient until the v4 upgrade is completed.

[2019-05-20 21:36] #65 closed, assigned to nobody

[2019-06-17 15:14] emjaymur opened #66 "Order of past forms"
Hey @mradamcox. We have someone working on entering our backlog of scout reports from the old Google Form system. I've noticed that the reports for the sites sort by date of entering, so for some sites there is no good order for the forms in terms of when the monitoring actually happened. Shell Bluff Landing is a good example if you want to see what I mean. Is there a way to resort them by the for

[2019-08-21 22:28] mradamcox commented on #52
@emjaymur can you check the status of this? I think it's been addressed.

[2019-08-21 22:36] mradamcox commented on #66
@emjaymur This will essentially be a non-issue once the upgrade is complete. At least, if it's still an issue it will need to be handled very differently than it would be at this time.

[2019-08-21 23:38] mradamcox commented on #54
Current thinking is to add an attribute to the site resource model, so that the db admin can update it just like they would assign a scout.

Here's the updated list:
[Archaeological Sites for Public Layer - final.docx](https://github.com/legiongis/fpan/files/3527722/Archaeological.Sites.for.Public.Layer.-.final.docx)

[2019-08-22 18:50] emjaymur commented on #52
It has. Thanks!

[2019-08-22 18:50] #52 closed, assigned to nobody

[2019-08-23 20:29] kkemp85 opened #67 "Arches Landing page analytics"
We are trying to track visits to the Arches landing page for future reporting. Our FPAN website manager said that we could probably request that info from you, but it's also possible to get that info ourselves if a bit of code was added to the page and we provided you with our Google Analytics tracking code. Is this something you could do for us?

[2019-08-27 03:36] mradamcox commented on #67
@kkemp85 I think I can do you one better :) I'll e-mail you.

[2019-11-12 13:00] mradamcox commented on #66
This is now handled with the recent update:
![image](https://user-images.githubusercontent.com/10427268/68673758-14888000-051a-11ea-8f48-b477773164cc.png)

[2019-11-12 13:00] #66 closed, assigned to nobody

[2019-11-12 13:02] mradamcox commented on #50
@rosulliv14 After the latest update and restructuring, would you be able to take a look at this again? I wonder if the issue remains. Those two that you mentioned indeed are not present in the current database. Is there any chance that they are structures? I believe the only structures we have are lighthouses and those within a few specific historic districts.

[2019-11-12 13:05] #63 closed, assigned to nobody

[2019-11-12 13:08] mradamcox commented on #54
There is now an option to "assign" a site to "Public Access" this should allow anonymous users to view those sites, and create new scout reports for them. The whole process could use more testing though. I'll leave this open until @emjaymur can confirm things are working well.

[2019-11-12 13:17] mradamcox opened #70 "Update Links for Creating a New Report"
Currently, the icons and buttons used to create a new scout report are pretty buried, and confusing, especially to users who have experience with the prior iteration of the database. Two main actions should solve this:

1. Change the top menu icon of the walking man (titled "Log a Visit") back to the default edit pencil icon and title it "Edit".
2. In a resource report for Archaeological Site, His

[2019-11-12 13:57] #67 closed, assigned to nobody

[2019-11-20 17:23] kkemp85 opened #71 "Mac display Issue"
A few of our Mac users have noticed a weird display issue where all the features overlap each other and seem jumbled on the home page and other pages. See the image for an example (the map has been purposefully blocked out).
<img width="719" alt="Mac Issue" src="https://user-images.githubusercontent.com/54329725/69261917-8010c400-0b90-11ea-941a-e666f9290b58.png">

[2019-11-20 17:30] kkemp85 opened #72 "Archaeological Site polygons not visible in map"
On accounts that have access to any archaeological site, a scout that is assigned one site or an admin account that can see all sites, the archaeological site polygons are not rendering on the map. This makes it extremely difficult to search an area for a site. On my admin account, I can still search sites if I know the site number, but the polygons don't show up, just the black marker showing the

[2019-11-20 17:47] kkemp85 opened #73 "Search issues with new Arches update"
We have noticed some issues searching archaeological sites within scout accounts and general accounts like the FPAN Northeast account. Not only are the archaeological site polygons not showing up (detailed in a different issue) but also users can't even search for archaeological sites. The site number will come up in the search bar but then the results will say 0. One FPAN employee noticed that wh

[2019-11-20 17:51] kkemp85 opened #74 "Arches Admin Dashboard link no longer works"
The link I had to go and download new scout applications no longer works. It gives me an error. I figured this has something to do with the new update and simply just needs to have an updated link to the new location for the excel data I download every day

![image](https://user-images.githubusercontent.com/54329725/69264026-7e48ff80-0b94-11ea-8c26-42f5cb16f4f4.png)

[2019-11-22 14:24] mradamcox commented on #71
The first thing to make sure of is that everyone has cleared their browser cache. Here is some information on the easiest way to do that: https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/ It's possible that a few people haven't done it and they have macs... At least, I'm hoping. If that doesn't work, then I'll look into this on a mac.

[2019-11-22 21:49] mradamcox commented on #74
This is now fixed.

[2019-11-22 21:49] #74 closed, assigned to nobody

[2019-11-22 21:50] mradamcox opened #76 "Scout List Export - improve file name"
The file created from the admin dashboard that lists all current scouts does not have a file extension in its name, it's just `HMS`. It should, at least, be `HMS.csv`, but preferably the date should be added to the name as well.

[2019-12-03 22:14] kkemp85 opened #77 "Some sites displayed twice in database"
I've noticed that a few sites are showing up twice in Arches. So the same site will have different Scout Reports on each resource. I've seen at least 3 sites that are this way. For example, Conch House Groin (SJ04874) has one site listing with 2 scout reports recorded and another with none. See the attached photos. I thought that I could fix this myself and just delete one of the duplicates but I

[2019-12-06 22:28] kkemp85 opened #78 "Adding a line of text to the Arches portal pages -info on forgotten passwords"
We would like to add a line of text explaining what scouts should do if they have forgotten their passwords to the login pages for both the Scout Portal and State Land Manager Portal. We realized no language exists right now and it has caused a ton of confusion and creation of additional accounts. We wanted to keep it simple and have the line of text say “Forgot your password? Please email your Sc

[2019-12-16 02:00] mradamcox commented on #71
@kkemp85 can you double-check that this is still an issue for everyone and close if not?

[2019-12-16 02:56] mradamcox commented on #77
@kkemp85 You can safely delete whichever entry you want. The key is in the UUID (the long string of letters and numbers) that is in the url when you are viewing the report. That is the internal identifier for the site itself, so because it's different in each one, they are completely independent.

One note: if you delete a site that has scout reports attached to it, they will not be automatically

[2019-12-16 03:06] mradamcox commented on #77
Ok, I just did some checking on an export of all the sites, and there are just three duplicates:

    PI00031
    DI00029
    SJ04874

Very strange. Perhaps these are duplicated in FMSF, or it's possible there was a problem doing the initial import (though it would be strange for there to be only three errors if that was the case). You can safely find these duplicates and remove them.

[2019-12-16 03:25] mradamcox opened #79 "User ID should be autopopulated in the "Your Scout ID" field"
When a scout accesses this page in the Scout Report, their id should be automatically placed into the top line. In the example below, `cjmorton` should be added. ~~This field should also be disabled (visible but not editable).~~ This field should remain editable for now.
![image](https://user-images.githubusercontent.com/10427268/70877044-7b69e080-1f81-11ea-85b9-661bd9f5731c.png)

[2019-12-16 03:28] mradamcox opened #80 "Add input field on Scout Report for extra user info"
A new field should be added to the Scout Report graph that collects information about state employee names. The reason for this is that parks and other entities will continue to share logins, typically one per park. This means that while the Scout ID field should contain the name of the user id, the new field can be used to add more specific information about the state user that is actually perfor

[2019-12-16 03:41] mradamcox opened #81 "Fix Styling in Left-Hand Panel"
Some of the CSS class names, etc. must have changed in the upgrade to 4.4. This should be fixed for all user types (admin, scouts, state land managers). The image below is for scouts, and the background of the entire thing should be blue. The "TOOLS" text should be changed too. Either white or something darker (as appropriate with the rest of the site).

![image](https://user-images.githubusercont

[2019-12-16 05:43] mradamcox commented on #72
@kkemp85 can you confirm that this is all solved for all of the use cases that we need?

[2019-12-16 15:10] kkemp85 commented on #72
@mradamcox Well, they were all working on all accounts but this morning we checked and all the FPAN regional accounts and my HMS Database login (which I never use) are missing the archaeological sites again. And not just the polygons this time, but also the site listings. The results should have around 39,000 sites, but they only have around 5,359, the same number all the regular scout accounts ca

[2019-12-16 15:30] mradamcox commented on #72
@kkemp85 Ok, I remember now you said earlier that there was an issue with the State District manager accounts, is that still true?

[2019-12-16 15:40] kkemp85 commented on #72
Yes! Thank you for reminding me. I just looked at all those again and all 5 district accounts are having the same issue that we were having before with the state accounts. All the archaeological sites these accounts are supposed to have visible are showing up in the results, but the polygons are missing. For some reason, archaeological sites in Terra Ceia SP are showing up in the SPDisctrict4 acco

[2019-12-16 19:18] #71 closed, assigned to nobody

[2019-12-16 20:52] kkemp85 commented on #77
I just fixed this! It's strange to me that all three of the duplicates you found, were the ones I found in the system on my own which prompted me to open this issue! Thank you!

[2019-12-16 20:52] #77 closed, assigned to nobody

[2019-12-16 21:19] kkemp85 opened #82 "Changing text on the Scout landing page"
We would like to change the text for the "How do I log a visit?" section on the scout main landing or home page. As it stands now it doesn't really match the real process. We would like the wording to be this:
How do I log a visit?
1.	To log a scout visit for a Cemetery or Historic Structure, click “Explore the Database”, then in the Menu Pane on the far left of the main map page, hover over the b

[2019-12-17 21:13] kkemp85 opened #83 "Set up Land Manager group"
Per a discussion Adam and I had, I set up a group called Land Manager that will serve to add access to the State Land Manager portal. I created the group and added it to all the land manager user accounts (state park, FWC, forestry, aquatic preserve, water management district) so it is ready to be set up on the back end.

[2019-12-19 17:11] mradamcox commented on #54
Problem brought to me by @kkemp85: because the access is currently keyed off of the username (`anonymous`), when scouts login they are no longer able to see the public site. Public sites must be available to all scouts and land managers.

[2019-12-19 17:41] mradamcox opened #84 "Cascade Archaeological Site Permissions to Downloaded Data for Collector"
When creating a new collector project, the admin decides which groups/users are included in the project. When Archaeological Sites are downloaded into the project, they must be filtered in a way that matches the permissions for the groups involved.

[2019-12-19 18:45] mradamcox commented on #84
@kkemp85, thinking about this, I think there is actually already a pretty good workaround. In all cases, the site access permissions are driven by queries that can easily be replicated in the search page, in the Advanced Search tab. Then, that url can be used in the project config to determine which sites to include in the project when users download it. For example, if the project is for Tomoka S

[2019-12-19 19:07] mradamcox opened #85 "Can't Connect to HMS Arches from Mobile App"
In the mobile app, when trying to connect to the HMS database through the app, there is silent failure and no connection is made. Though discussions with the developers, this is a) a lack of good error reporting in the app and b) a problem with our server; I was able to successfully connect to another server.

After digging around I believe the issue is that we are using HTTPS and I'm not sure the

[2019-12-19 19:10] mradamcox opened #86 "Set up server access for staff to upload mbtiles files"
Facilitate access to the server (or another location) to allow the upload of premade mbtiles files so they can be used in the mobile projects as offline basemaps. The location must be web accessible.

[2019-12-19 19:50] mradamcox opened #87 "Tileserver Layer error when saving new historic structure point"
When trying to create a new historic structure, everything is fine until a new geometry is created. There is an error during the save indicating a tileserver layer does not exist. However, the geometry is somehow present in the search page.

[2019-12-19 21:09] mradamcox opened #88 "Disallow new accounts with the same e-mail as existing accounts"
Scouts should not be able to create an account with the same e-mail address more than once. This is to discourage multiple signups by the same person (which can happen very easily).

[2019-12-19 21:58] mradamcox opened #89 "Filter edit history for everyone but admins"
Currently, every user sees the entire edit history of the database. This must be changed so authenticated users only see the edits that they have made. Admins, however, should continue to see all of the edits across the whole database.

[2019-12-20 06:03] mradamcox commented on #89
This should now be taken care of. @kkemp85 can you confirm?

[2019-12-20 06:08] mradamcox commented on #78
Part of the Arches upgrade included a reset password form. This was hidden from us, because we had customized the login pages a long time ago. I added a link to the new form and have tested it out successfully. People can now reset their own passwords.

[2019-12-20 06:08] #78 closed, assigned to nobody

[2019-12-20 13:43] kkemp85 commented on #78
I’m obviously not supposed to be working but this was too exciting not to reply to. This is amazing!! Thanks Adam!

Sent from my iPhone

On Dec 20, 2019, at 12:08 AM, mradamcox <notifications@github.com> wrote:

﻿

Part of the Arches upgrade included a reset password form. This was hidden from us, because we had customized the login pages a long time ago. I added a link to the new form and have te

[2020-01-06 18:47] kkemp85 commented on #89
Yes @mradamcox this is fixed! Thank you!

[2020-01-06 18:51] kkemp85 commented on #84
@mradamcox that makes sense to me. The priority is on land managers being able to use the app so if scouts have to be on the backburner right now, that's fine.

[2020-01-06 19:24] #89 closed, assigned to nobody

[2020-01-06 19:36] kkemp85 commented on #72
Hey, @mradamcox just wanted to let you know that this is still an issue as outlined in my long comment above. I also got word today that the BAR account can't see the polygons either. I can't log in to that account since I don't know the password but I'm assuming it's the same issue we are seeing with the other accounts. Thanks!

[2020-01-06 20:17] kkemp85 opened #91 "Updating Land Management unit polygons on Arches map"
Our contact at FWC informed us that some of the land units he manages don't have polygons that show up on the Arches map (the green polygons indicating public lands). He provided us with the example of Big Bend WMA - the northern Hickory Mound Unit is visible as well as the southern Tide Swamp unit, but the Spring Creek unit in the middle is missing in Arches (see images from google maps and arche

[2020-01-07 21:45] coherit commented on #81
I've addressed this issue in the coherit_frontend branch => [commit 71c49d](https://github.com/legiongis/fpan/commit/71c49d39a67af0fcc19892e03cf0c857f65ff016)

I made an initial commit to make the text across the entire site a bit more accessible -- changing the base body font size to 16px (from 11-13px -- it varied in places -- 16 is generally accepted as an accessible base) and then setting all

[2020-01-08 19:36] coherit commented on #70
Both of these items have been addressed in commit 2e3d09d:

1. Anyone who has permissions to edit a resource now sees the pencil and "Edit"

2. A hard coded button has been added in the designated spot to take the person to "add-resource/14578901-bd5d-11e9-822a-94659cf754d0" -- a new scout report (using the uuid in the package). This will break if the uuid changes for some reason.

[2020-01-09 19:06] mradamcox commented on #70
ok great, I'll be staging this change and the others momentarily for review. The UUID won't change, so we're good on that front.

[2020-01-09 19:11] mradamcox commented on #81
@coherit Thanks, I like the font upgrades and the styling/icons look good. Could you also set the background in this weird little upper left square (for all categories of users-it should match the background color of the buttons below it)?
![image](https://user-images.githubusercontent.com/10427268/72097213-7af30a00-32e1-11ea-9768-c8a5f74bba08.png)

[2020-01-09 19:27] mradamcox commented on #91
@kkemp85 Interesting, a couple of things about this. First, the lack of the polygon on the basemap doesn't necessarily mean it's missing from Arches. The basemap we use is based on [Open Street Map](https://www.openstreetmap.org), so, in fact, it's absolutely possible to add the missing polygons to it, but it's an entirely different process. Here's a good place to start: https://wiki.openstreetmap

[2020-01-09 19:34] mradamcox commented on #70
@kkemp85 We now have this change live on the staging server, which is http://fpan.legiongis.com. Could you check it out and close this ticket if you think it's been resolved?

[2020-01-09 19:38] mradamcox commented on #81
@kkemp85 could you have a look at these changes on the staging server and let us know what you think? Especially the font size increase.

[2020-01-09 19:42] kkemp85 commented on #91
@mradamcox I actually took a class with Open Street Map so I already have a background in it, it's just been a while, but I remember it being really easy to navigate back then. If I do so, does that mean I can update our open street map to include those missing polygons myself?

[2020-01-09 19:48] kkemp85 commented on #91
@mradamcox Also, I see another issue here that I will have to discuss with FWC. The example I gave you above is about Big Bend WMA. It's a large WMA so the land parcels are separated into separate units and may have separate managers which will require separate accounts, and we don't have it set up that way now. I can easily set up new accounts if these units of the BigBendWMA need to be separated

[2020-01-09 19:59] kkemp85 commented on #70
@mradamcox The "create a report" button is perfect!! and I'm so glad the walking man is gone and has been replaced with the logical pencil for editing! This will make it much easier on our scouts and even the FPANers too. Looks great!

[2020-01-09 19:59] kkemp85 commented on #70
@mradamcox looks like you will have to close this one, won't let me since you created it.

[2020-01-09 20:07] kkemp85 commented on #81
@mradamcox Looks good to me! The icons and text are much easier to see now!

[2020-01-10 15:41] #70 closed, assigned to coherit

[2020-01-10 16:00] coherit commented on #81
@mradamcox .brand-title no longer has the beige rice paper background and is set to the color for each user group. [Commit f61199f](https://github.com/legiongis/fpan/commit/f61199fa0d027dc0ff2367225a024136819a45bd)

[2020-01-10 16:26] coherit commented on #82
@mradamcox  The text has been edited with links as requested (the "detailed instructions" links don't go anywhere right now, but you can see how they'll look once the instructions are ready). I styled links to the orange accent color used for scouts so they stand out a bit more. [Commit bfffc2c](https://github.com/legiongis/fpan/commit/bfffc2c76abd4c3add5cd18610db2558787d0880)

[2020-01-10 16:28] mradamcox commented on #70
@kkemp85 I'll add you to this repo as a collaborator, then you should be able to close tickets, etc.

[2020-01-10 16:46] kkemp85 commented on #82
Looks good! It may be a while until I can get those detailed instructions finished so you can link to them just FYI

[2020-01-10 16:55] coherit commented on #82
@kkemp85 No problem -- is this the file I should link to for now? [http://fpan.us/uploads/nerc/HMS%20Florida%20Arches%20Instructions.pdf](http://fpan.us/uploads/nerc/HMS%20Florida%20Arches%20Instructions.pdf)

[2020-01-10 16:59] kkemp85 commented on #82
@coherit Yes! that is the temporary file. thank you!

[2020-01-10 17:03] coherit commented on #82
Got it and updated! [Commit e9e4323](https://github.com/legiongis/fpan/commit/e9e43237a972f9cdc2bb16e3acb1caf5794f09d3)

[2020-01-10 17:06] mradamcox commented on #82
@coherit Regarding the link colors, I like orange, but would prefer them to not change size on hover. Looking more closely at links across various accounts, I think it's worth a separate ticket which I will write and assign to you. So, we'll close this ticket once the text on the landing page and the links targets have been properly updated.

[2020-01-10 17:22] mradamcox opened #92 "Standardize link behavior and colors across app"
Currently when signed in as an admin, at least one page has two different link styles:

![image](https://user-images.githubusercontent.com/10427268/72171895-7d189f80-3399-11ea-9d7d-aadc769a6447.png)

I think it's time to make a better standardization for links across the whole app (at least in the FPAN/HMS front pages, there may be places deeper in the database/arches side of things where exceptio

[2020-01-10 17:29] kkemp85 opened #93 "Combine Scout Profile requirements with new Scout sign up page"
Per discussion @mradamcox and I had, we would like to streamline the way scouts sign up and complete their profiles. Instead of creating an account as a two-part process where they sign up with minimal requirements (Name, email, password, ethics agreement- see first image) and then later go to their profile page to fill in detailed information (address, interests, regions with the state map, etc.-

[2020-01-10 17:29] mradamcox commented on #92
The "forgot password" link needs to be given the correct style.
![image](https://user-images.githubusercontent.com/10427268/72173068-5c057e00-339c-11ea-82a8-38342450ef99.png)
(this was my oversight when I added that link a little while ago.)

[2020-01-10 17:44] kkemp85 opened #94 "Export Button for reports"
Addition of an "export" button to the main map/search page so that scouts can export scout reports logged within their own accounts in an excel-style format. Admins will be able to export reports of all scout activity.

[2020-01-10 17:50] mradamcox commented on #93
@kkemp85 thanks for making a ticket for this. In spirit I agree with this ticket completely, though after our conversation I was looking into it a little more and there is some procedural logic in the way we currently have it: The user account must be created before extra information can be attached to it, and we need people to verify their accounts with e-mail before we can make a new account in

[2020-01-10 17:57] kkemp85 opened #95 "Set up FWC accounts to see sites only within each accounts' LMU"
As has already been done with the State Park and Forestry accounts, we would like the FWC accounts to be set up where each LMU (land managing unit) account can see only sites within that specific LMU, instead of all FWC sites. Each site will be coded with a management agency, category, and name identifiers. I (@kkemp85 ) will create an FWCadmin account that will still be able to view all FWC sites

[2020-01-10 18:02] kkemp85 commented on #93
Sounds good @mradamcox. The issue we have run into is that people verify their email address but never go in and complete the profile information which we need not only to track scout information for our annual reports but also to be able to assign sites to them (without choosing a region there is no way to assign a site to a scout - I'm glad this is a requirement but even direct emails to new sco

[2020-01-10 19:44] coherit commented on #92
These should now all be standardized with the styles requested. The only exception is in the HMS footer -- the orange links on the aqua rice paper were a bit harsh so I made them white. [Commit 6e5901a](https://github.com/legiongis/fpan/commit/6e5901ae4802fadf7fb979d56390a2127e2d4a1e)

[2020-01-10 20:24] mradamcox commented on #92
Ok this looks good. Thanks! It does reveal some weirdness in the resource reports: I didn't realize all of these were links!
![image](https://user-images.githubusercontent.com/10427268/72183859-a72b8b00-33b4-11ea-9178-17cd09677b1a.png)
Oh well, we'll tackle that another time. I suppose it would be nice to make them links into a search result with that value as a term, but easier said than done, I

[2020-01-10 20:24] #92 closed, assigned to coherit

[2020-01-10 22:03] coherit commented on #79
@mradamcox  Okay, I made progress, but it won't be ready for tonight's push to production, so no commits yet. Should I start a new branch? Let me know what makes things easiest for you.

GOOD: I am successfully able to set the value of the text widget to {{user.username}} using a ko if/ifnot statement to only target the node_id for the Scout ID node -- because we don't want to create a new widget,

[2020-01-10 22:27] mradamcox commented on #79
Ok, no problem at all, and great progress. Sounds like it's something to do with how the value is placed in the field or something.

If you could make a new branch just for this ticket that would be great. I'll be merging the coherit_frontend branch into master momentarily, so you could make it from either one and I don't think there will be a problem.

[2020-01-10 22:33] #81 closed, assigned to coherit

[2020-01-15 23:09] coherit commented on #79
I've worked on this quite a bit and keep hitting a wall. I've tried switching focus to the text widget (rather than the card component) and using value instead of textInput data-binds, intercepting the defaultValue param....but no matter what, I can't successfully prepopulate the textfield and validly pass the tile save function. Going to give the arches forum a shot.

[2020-01-16 17:58] mradamcox commented on #79
Ok great, I think the forum is a good way to go, we'll just see if something turns up.

[2020-01-17 17:21] mradamcox opened #97 "Coastal Map is not rendering"
When the historic coastal map overlay is activated, some cached tiles seem to show, but as you zoom in it's just a bunch of empty responses, and the map gets blurry. The WMS from Geoserver does still work correctly: https://observablehq.com/@mradamcox/keys-to-new-orleans-inside-route-1919, so this has something to do with the Arches side of things.

[2020-01-21 16:44] kkemp85 commented on #95
@mradamcox after reviewing changes, I think this may have worked since each account can no longer see all FWC sites, but the polygons for archaeological sites that each account should be seeing aren't rendering. This goes along with issue #72 as well where I've made additional comments.

[2020-01-21 18:18] kkemp85 commented on #72
@mradamcox  We need to add the land manager accounts to this issue now as well. I logged into state park, FWC, and forestry accounts and they are all missing archaeological site polygons, even the structure and cemetery ones are missing.

Another possibly related issue is that the links to site details aren't working, it gives an "Error 500" when I click on any of them within these accounts. This

[2020-01-21 19:49] mradamcox commented on #95
@kkemp85 This should now be fixed. I found some errors that were hidden within other errors which made this a bit convoluted to debug.

[2020-01-21 21:48] coherit commented on #79
made some good progress on this -- branch [coherit_username](https://github.com/legiongis/fpan/tree/coherit_username) now has this feature. Currently, it is working on a hardcoded value of "abc". I'll work on passing the {{user.username}} variable from the template to the viewmodel next. Should be an easier task now that the new binding is working on the Scout ID node.

Andrew Jones on the forum g

[2020-01-22 20:51] mradamcox commented on #79
@coherit great, thanks for sticking with it and I'm glad the forum was helpful. I don't think I'll be able to test/deploy this until Friday, so feel free to keep working on it.

[2020-01-22 22:12] kkemp85 commented on #95
I have checked all FWC accounts and they are all still showing all FWC archaeological sites on the map. What's promising though is that the search results are properly filtered down to return only archaeological sites within the land management unit associated with the account, it's just the map that is the issue now.

[2020-01-22 22:24] kkemp85 opened #100 "Bug in Advanced search options"
An FPANer reported a bug concerning the Advanced search in Arches. It looks like this bug is occuring in all accounts except the admin account where certain search options in the advanced search tab are not rendering properly. The bars for typing text and bringing up dropdown menu options are missing from the pages. This is affecting archaeological sites, historic cemeteries, and historical struct

[2020-01-23 15:30] #83 closed, assigned to nobody

[2020-01-23 15:35] kkemp85 commented on #82
Can we move the "Would you like a monitoring form to take with you in the field?" section to the left of the page? It just looks really crowded on the right-hand side underneath the "How do I log a visit?" section. Maybe put a light lined box around it or something to offset it?

![image](https://user-images.githubusercontent.com/54329725/72998498-f1a50280-3dcb-11ea-8871-87ac80acccdb.png)

[2020-01-23 18:35] coherit commented on #79
@mradamcox - this may be as far as I'm able to get until Monday due to my schedule:

latest [commit](https://github.com/legiongis/fpan/commit/223b6437bd405bf8ed2ecf5979d3ef613d841cd1) has made progress, but still buggy:

Testing use cases (using cjmorton as example):

When creating a new scout report, the username cjmorton is populated by default...

1.  if you don't touch the scout user id field

[2020-01-24 17:25] kkemp85 opened #101 "Glitch with Land Manager group/new groups"
After logging into a new WMD account I created, I noticed a glitch with the main map page. I figured out that I could fix the glitch by adding an active group like StatePark, FL_Forestry, or FWC. So maybe something either needs to be done with the Land Manager group or we need to activate the FL_WMD group I made (along with that same vein the NPS group I made would need to be fixed too to avoid th

[2020-01-24 18:27] mradamcox opened #103 "Improve new resource screen with more HMS specific info"
This seems like a perfect place to put in more instructions for people that are about to make a new Scout Report
![image](https://user-images.githubusercontent.com/10427268/73093798-e40f7b80-3ea4-11ea-950e-984de49825fe.png)
@kkemp85 can you work on figuring out what information would be the most helpful?

[2020-01-24 18:28] mradamcox commented on #95
This is finally fully addressed. @kkemp85 can you confirm?

[2020-01-24 18:29] mradamcox commented on #87
@kkemp85 @emjaymur can you test this out? It should be fixed now.

[2020-01-24 18:42] kkemp85 commented on #87
@mradamcox I actually tested this out earlier today and I am still getting the same error

[2020-01-24 18:45] kkemp85 commented on #95
@mradamcox Looks good!

[2020-01-24 18:45] #95 closed, assigned to nobody

[2020-01-24 18:51] kkemp85 commented on #103
@mradamcox  yes I can definitely do that! We've been hoping to have a place to put general instructions about how to log a report and this seems like the perfect place. I'll get to work on something.

[2020-01-28 16:32] coherit commented on #82
Sure, here's a screenshot of what I did. Let me know what you think. @mradamcox this is in branch issue_82

![image](https://user-images.githubusercontent.com/3217017/73283514-34e2e500-41c1-11ea-932a-9ab893120c2e.png)

[2020-01-28 16:45] kkemp85 commented on #82
@coherit This looks fantastic! Way better than what I was even thinking!

[2020-01-28 17:26] coherit commented on #79
@mradamcox ok, finally have solved this. now passes all use cases above. [Latest commit](https://github.com/legiongis/fpan/commit/8c29863bff342da2861b76ef37a373c55b1b4787) on coherit_username is ready for your and client testing.

[2020-01-31 16:44] mradamcox opened #104 "Add Historic Map Overlay to Package Load"
Look in the load_package command.

[2020-01-31 18:54] coherit commented on #79
@mradamcox edited the widget to not use cid and instead use the node.id -- [latest commit](https://github.com/legiongis/fpan/commit/f853487df0919ab9e42a3f5b5fe772632e141b27) is ready to merge.

[2020-01-31 19:03] mradamcox commented on #79
@kkemp85 This is now deployed on the staging server, can you take a look and close this ticket if everything works for you? Thanks!

[2020-01-31 19:34] kkemp85 commented on #79
Looks good to me!

[2020-01-31 19:34] #79 closed, assigned to nobody

[2020-01-31 19:39] kkemp85 commented on #91
I am working on this myself so will close out this ticket

[2020-01-31 19:39] #91 closed, assigned to nobody

[2020-01-31 19:40] #72 closed, assigned to nobody

[2020-01-31 19:48] kkemp85 commented on #50
@mradamcox I just looked into this, and both of those are archaeological sites not structures. Is this something that may be solved once we do the next site upgrade from the FMSF?

[2020-01-31 19:53] kkemp85 commented on #38
@mradamcox I can fix this issue myself if there is a way for me too. I just checked and it looks like any scout can edit any Scout Report they can view. In the permissions settings, I only see a way to make it where everyone can either edit all reports or edit no reports, not a way to make it where they can only edit ones they have created.

[2020-01-31 19:54] #34 closed, assigned to mradamcox

[2020-01-31 20:10] kkemp85 commented on #30
@mradamcox I believe can make all these layers in our new Mapbox map I am creating. The only thing I want to double-check is if I add in a tile of the FPAN regions, that will show up as an overlay that can be turned on and off right? That isn't something that needs to be on all the time. But, the county boundaries should always render on the map, or I guess, be set to automatically be on when a sc

[2020-01-31 20:49] kkemp85 commented on #103
@coherit Here is what I came up with. Feel free to play with the spacing and such to make it flow better on the page, I wasn't sure how I wanted the sentences broken up. It would be great if we could get an image of the Help icon ![image](https://user-images.githubusercontent.com/54329725/73573272-f8bdb780-4440-11ea-88cb-14fc719067b2.png) to show up in the last sentence.

Welcome to the HMS Florid

[2020-01-31 21:19] mradamcox commented on #87
@kkemp85 I think this is now solved.

[2020-01-31 21:22] mradamcox commented on #56
@emjaymur I believe this is now fixed. Can you confirm and close this ticket if so?

[2020-01-31 21:23] mradamcox commented on #30
@kkemp85 If you want a layer that can be turned on and off separate from the basemap, then you will have to make that layer a separate "style" in mapbox. Then we'll be adding each style separately to Arches.

[2020-01-31 21:31] kkemp85 commented on #87
I'm still getting the error Saving tile failed - OSError when I try it, maybe it's something I'm doing wrong? I'm adding the coordinates as a point.

[2020-01-31 21:35] kkemp85 commented on #30
@mradamcox Ok that's easy enough. I will do that and close this ticket

[2020-01-31 21:35] #30 closed, assigned to nobody

[2020-02-10 20:51] kkemp85 opened #105 "Create St Johns River WMD accounts, FL_WMD group, and WMD management areas"
@mradamcox and I have been working through email to set up these new accounts and to create a plan of action for Water Management District (WMD) accounts in general. Logging here for coherence.

[2020-02-21 19:34] coherit commented on #76
@mradamcox This looks like it was already completed. I downloaded the file from /dashboard as admin and it is named: "HMS all scounts 21-02-20.csv"
![image](https://user-images.githubusercontent.com/3217017/75065664-3c8f6400-54b7-11ea-9c3d-91fbfd62f823.png)

[2020-02-21 20:28] coherit commented on #103
@kkemp85 I've now edited this for the Scout report. Do you want to replace the default text for other resource types like cemeteries, sites, or structures? Right now, I have it just showing the default Arches text for those resource reports.

![image](https://user-images.githubusercontent.com/3217017/75069240-cb53af00-54be-11ea-8dbb-9d88a320f7ae.png)

[2020-03-01 22:48] mradamcox commented on #97
Fixed, had to do with cache directory permissions on server.

[2020-03-01 22:48] #97 closed, assigned to nobody

[2020-03-01 22:53] mradamcox commented on #76
@coherit strange, it seems to work fine in Chrome, but not in Firefox. In Firefox it just has the first word `HMS` as the entire filename (no extension either). Could you investigate further?

[2020-03-02 01:24] mradamcox commented on #103
@coherit I'm not seeing this commit anywhere. What branch do you have it on? I'm going to consolidate all of our branches, so if you haven't pushed it yet, the best plan will be for you to pull the `master` branch, create a new branch from it, cherry-pick this commit into your new branch, then push the new branch here. We'll do a pull request then.

[2020-03-02 08:16] mradamcox commented on #105
Ok, this is all ready to go. You'll need to set the archaeological site attributes that drive the permissions manually. Make sure all sites have the Managed Area Category set to Water Management District, this will enable the SJRWMD account to see all of them.

For more specific access, you need to set the Managed Area Name for each site. Then all of the other WMD users will see the sites that are

[2020-03-02 14:08] coherit commented on #103
@mradamcox I haven't committed this yet because I was waiting for feedback on the other reports. I'll keep the other reports as the default and follow your git instructions.

[2020-03-02 14:34] mradamcox commented on #103
Ok, that makes perfect sense. I know @kkemp85 has been out of the office but will be back in a few days.

[2020-03-02 14:50] mradamcox commented on #101
@kkemp85 can you confirm this is still an issue? I think it should be handled now.

[2020-03-03 21:36] coherit commented on #76
@mradamcox Okay, this is fixed now for Firefox. It didn't like the spaces in the filename, so added underscores. Now downloads properly in FF and Chrome. I pulled master and then committed these changes as a new branch: [76_improve_csv_name](https://github.com/legiongis/fpan/tree/76_improve_csv_name)

[2020-03-03 21:47] coherit commented on #103
@mradamcox pushed this as a new branch 103_improve_new_resource_screen

[2020-03-03 22:18] coherit commented on #104
@mradamcox Okay -- I've worked on this and wanted to test it. However, when I re-run your special load package command (python manage.py load_package -db), I'm getting an error (below). (Same thing when I roll back my changes to the load package command).

What is the correct way to reload the package data? End of the day so I could be missing something stupid...

[2020-03-04 18:18] mradamcox commented on #104
@coherit I recently encountered some serious issues in reloading the package too. Not the same error, but potentially related. I added a new page to our HMS Notion (named "Setup DB Issues 3/1/20") which describes a workaround. Please let me know if that works for you.

[2020-03-04 18:49] #76 closed, assigned to coherit

[2020-03-04 18:57] coherit commented on #104
@mradamcox Unfortunately the workaround doesn't help and is currently foobared. However, I think the/my issue may be related to the fpan/utils/permission_backend.py file, which, when I was committing issue 76 in those bad pull requests, there were two lines related to those functions.

https://github.com/legiongis/fpan/pull/108/commits/a9d7ac5e9b606448e7d806fc7d18da98143a476b

Do you think that th

[2020-03-05 01:43] coherit commented on #104
@mradamcox  can confirm that commenting out line 7 of utils/permission_backend.py fixed the load_package command.

`#settings.update_from_db()`

[2020-03-05 03:13] mradamcox commented on #104
Great, and did you get a "database connection terminated" error, or did it proceed as normal? Maybe that error I got just has to do with my local postgres installation.

[2020-03-05 14:17] coherit commented on #104
No -- it completed successfully all the way through.

[2020-03-05 15:47] coherit commented on #104
FYI -- when running the load_package function, I do get a lot of these warnings as it loads resources: badly formed hexadecimal UUID string invalid nodegroupid participating in descriptor function.

[2020-03-05 20:22] kkemp85 commented on #101
@mradamcox I just checked all the accounts and it's still glitching with the red bar at the top unfortunately

[2020-03-05 20:27] kkemp85 commented on #103
@coherit This looks so great, thank you! As for the other resources, only admin accounts can see these resource screens and add sites, cemeteries, and structures so there's not really any reason to alter the text for those.

[2020-03-05 22:29] kkemp85 commented on #101
@mradamcox So looks like this glitch is now happening in all state park accounts as well. I was checking one of the State Park District accounts and noticed it. I checked a few of the other state park accounts and they are having the same issue. Must be something with the State Park group? This might be a big issue since we have active state park accounts.

![image](https://user-images.githubuserc

[2020-03-06 14:27] kkemp85 commented on #87
@mradamcox this is fixed now!

[2020-03-06 14:27] #87 closed, assigned to nobody

[2020-03-06 15:02] mradamcox commented on #101
@kkemp85  Ok I just looked into this and figured it out, it was related to the new water management district configuration. I'm now able to login as a state park account and see the search page without error.

[2020-03-06 15:12] kkemp85 commented on #101
@mradamcox great! Looks like it's fixed on the WMD accounts as well. I'll close the issue.

[2020-03-06 15:25] mradamcox commented on #103
@coherit it looks like that new branch somehow has the old commit about adding underscores to the file download name: https://github.com/legiongis/fpan/commits/103_improve_new_resource_screen. Could you make a new branch from master and then cherry-pick the improved resource screen commit to it? That should clear this up.

[2020-03-06 17:45] kkemp85 commented on #105
@mradamcox I added all the Managed Area names to the RDM and have started tagging sites. They are showing up in the search bar immediately which is great! But the site polygons aren't showing up in the map just like the issue we are still having with the State Park District accounts.

[2020-03-07 17:41] coherit commented on #104
@mradamcox This is ready for review in branch 104_add_maplayers. You can run just this component with:
`python manage.py load_package -c maps --exclude_business_data`

It should load both tileserver and mapbox layers (as long as the directory structure for the package is correct):

- fpan-data
  - map_layers
    - mapbox_spec_json
      - basemaps
        - [dir with contents]
      - overlays

[2020-03-09 03:22] mradamcox commented on #103
Ok, looks great now. Thanks!

[2020-03-09 03:22] #103 closed, assigned to coherit, kkemp85

[2020-03-09 03:34] mradamcox commented on #104
All good in testing. Thanks!

[2020-03-09 03:34] #104 closed, assigned to coherit

[2020-03-10 00:42] mradamcox commented on #56
@kkemp85 Do you think you could have a look at this ticket and decide whether it's been addressed since it was created?

[2020-03-10 05:13] mradamcox commented on #105
@kkemp85 I have fixed the issue with both the State Park District accounts and the WMD accounts. There was an issue with how the query was constructed for multiple terms, which is how these aggregate access levels work. All good now. I'm not sure there was really a separate ticket for the SP District issue, but could you look through and close if so? Thanks :)

[2020-03-10 05:16] mradamcox commented on #64
@kkemp85 Whenever you have a minute, could you re-examine this ticket and see if it's still an issue? A lot has happened since it was first created.

[2020-03-10 05:21] mradamcox commented on #50
@kkemp85, yes, if those are archaeological sites that have been added to FMSF since we _first_ installed the database, they will not be in the Arches db until we do a migration update from FMSF (which will be within a few months, I hope). If that is the case, could you close this ticket in favor of #53?

[2020-03-10 05:23] mradamcox commented on #100
@coherit Would you be able to have a look at this ticket? I'm guessing it's somewhat of a backend fix, but it would be best if you have a look at it first. First thing is to see if it's reproducible on the staging server.

[2020-03-11 14:27] kkemp85 commented on #56
@mradamcox I just tested this out with a dummy scout account I have and the arch site polygons show up fine so it seems resolved to me.

[2020-03-11 14:27] #56 closed, assigned to nobody

[2020-03-11 14:41] kkemp85 commented on #105
@mradamcox yes these are all working great now thank you!

[2020-03-11 14:41] #105 closed, assigned to nobody

[2020-03-11 14:54] kkemp85 commented on #64
@mradamcox I think this issue will warrant a little more discussion. I couldn't even find any Aquatic Preserve accounts to even check this. So I created a dummy account and added the FL_AquaticPreserve group to it. It looks like what Emily Jane is saying is that the group doesn't contain all the sites within the aquatic preserve boundaries around the state. This could be an issue with overlapping

[2020-03-11 15:00] kkemp85 commented on #50
@mradamcox so those sites were added to the FMSF _before_ you first installed the database, so they should already be in Arches. I think what you said in a previous comment is what occurred, there was some issue in the geometry of these sites and that's why they didn't load when you first created the database. Which means that this issue will probably occur again when you do get the FMSF upgrade d

[2020-03-11 22:45] coherit commented on #100
@mradamcox sure thing -- traveling back from Jamaica !Arches Training!) tomorrow so will put on my to do list for my return.

[2020-03-12 00:21] mradamcox commented on #94
This will be coming along with the forthcoming upgrade to Arches 5. Timeline for this is within the next month or so.

[2020-03-12 01:33] mradamcox opened #115 "Upgrade to Arches 5"
Arches 5 was released in January of this year, and includes many underlying tech upgrades that we need to make. The upgrade will also come along with some new features, including the ability to export resources from the search page.

[2020-03-13 21:44] kkemp85 commented on #73
@mradamcox looks like this is an issue with the SJRWMD accounts as well. All the other Land Manager accounts seem to work fine though. It's a problem since the land managers won't be able to log reports unless they click through all search pages to find the site they want and click on it directly. I notice in my original comment that it says archaeological sites only but this also affects structur

[2020-03-13 21:46] kkemp85 commented on #61
@mradamcox this ticket is directly related to issue #64  so they should be combined.

[2020-03-13 21:52] kkemp85 commented on #101
@mradamcox This issue is fixed on all the WMD accounts except the admin one: SJRWMD_Admin. I am pretty positive I checked it with the others when we closed this issue and it was working properly but is not now, unfortunately.

[2020-03-15 22:29] mradamcox commented on #101
@kkemp85 Ok, I'll look into it. Shouldn't be too hard to track down now.

[2020-03-15 22:30] mradamcox commented on #115
This upgrade will go most of the way toward addressing #94.

[2020-03-15 23:07] mradamcox opened #116 "Refactor FPAN Search Customizations into v5 Compatible Search Components"
This is likely to be the biggest challenge of the update to Arches 5. Search query construction has been changed significantly in core Arches, and the way the custom FPAN filters that enable variable Scout and Land Manager access to Archaeological Sites are integrated into the search result query must be reevaluated. I have posted in the Arches User Forum in an effort to get a bit of guidance:  ht

[2020-03-15 23:09] mradamcox commented on #116
Issue #73 should be addressed at the same time as this ticket.

[2020-03-18 15:45] mradamcox commented on #60
I'm fairly sure this is the same issue as #73, which should be addressed by #116.

[2020-03-18 15:46] mradamcox commented on #53
For the record, here's the info I got from Chip a while ago:

[2020-03-18 18:19] coherit commented on #100
@kkemp85 Can you please confirm this is still happening on the staging site? I wasn't able to reproduce this as an anonymous user, a scout, land manager, or admin. I tested Chrome and Firefox. If this is still a problem, can you tell me what web browser and specific user account(s) is being affected? I'm hoping it was a CSS error that was fixed since January but could be a deeper permissions issue

[2020-03-18 18:59] kkemp85 commented on #100
@coherit I just checked all accounts and it doesn't look like this issue is occurring anymore. I will close the ticket, thanks!

[2020-03-18 18:59] #100 closed, assigned to coherit

[2020-03-19 02:25] mradamcox commented on #85
@coherit could you explore this ticket by trying to connect to the staging server installation? You may need to begin by installing couchdb on that server, but you'll also likely need to create an oauth application. https://arches.readthedocs.io/en/stable/api/#authentication Also there's an Apache note here about the collector app: https://arches.readthedocs.io/en/stable/serving-arches-with-apache

[2020-03-19 02:31] mradamcox commented on #80
@coherit To test this out before doing it in production, I think the most important steps will be (locally): add this node (text) and name it (should be optional). Then make sure you can still access/edit existing scout reports (make sure you have some loaded first). Then export the resource model to the package, and reload the package with the test scout report data to make sure it all loads corr

[2020-03-19 02:52] mradamcox opened #117 "Create Arches 5-compatible File to Load 1919 Coastal Map"
In Arches 4 we were using the built-in Arches tileserver (tilestache) to cascade the WMS from Geoserver that provides the 1919 Coastal Map. Arches 5 has done away with the tileserver, so we need to create a different load file for that map. I believe there are examples of using Geoserver WMS layers in other v5 installations, and I also think there has been some talk of it on the forum (perhaps the

[2020-03-19 23:57] mradamcox commented on #73
I can confirm that in the Arches 5 update branch I'm working on (which will address #115, and includes the upgrades described in #116) this is issue is no longer present. Will close this ticket after we 1) get Arches 5 in staging for testing and 2) finally deploy the upgrade to 5.

[2020-03-19 23:59] mradamcox commented on #116
Current work in the `115_update_to_arches_5` branch has addressed this ticket.

[2020-03-20 17:43] coherit commented on #80
@mradamcox I've created the new "State Employee Name" node as datatype=string and have it as part of the Step 2 branch as you mocked up. (Required me to export the branch and then append the new card.)

Unfortunately, while I can access previous scout reports and edit all other nodes, editing the new node does not give me the Add+ option (only Delete this record). I clicked the "re-index resources

[2020-03-20 17:57] mradamcox commented on #80
Ok, to get as far as you did did you need to change the `OVERRIDE_RESOURCE_MODEL_LOCK` setting to True? If you didn't do that yet, maybe it will help with this editing issue?

[2020-03-20 18:04] coherit commented on #85
@mradamcox can you please put the Arches admin user's password for staging on Notion? (or here) I can't find the initial user info file with all the password combos on the server. I'd like to be able to see the project manager from the front end too. Thanks!

[2020-03-20 18:14] coherit commented on #80
Hmmm....I did not have to set that to True. That's a scary comment too in the app's settings file.

I did set it to True in my settings_local and tried editing the node again and got the same behavior. Works fine on new resources but can't update existing resources on that particular node.

I tried deleting the new node from the graph and re-adding it. The OVERRIDE_RESOURCE_MODEL_LOCK=True setting

[2020-03-20 18:51] mradamcox commented on #80
Ok. I'm guessing this is because the set of tiles for the node group is already made, and there is no tile for that new attribute in the existing nodegroups. Not ideal at all... Will give it some more thought.

[2020-03-20 18:53] mradamcox commented on #85
@coherit done.

[2020-03-20 21:10] coherit commented on #85
Okay, I've spent some time on this -- installed couchdb 2.3.1, followed all instructions across arches and couchdb for xenial/wsgi. I have a project activated (nickname = FPAN) only for the admin user.

When I try to add the instance via the collector app, I can trigger the following error log entries:
[code]
Commenting for now just to keep track of this as I look into it further.

[2020-03-20 21:15] coherit commented on #85
...and I see I just replicated what @mradamcox got too when I search the arches forums...I've been looking at the same stackoverflow and github issue reports too regarding the error message.

There isn't anything apparently different about this server than the others that you set up which work over https (like oas_jamaica). I'm going to keep digging into this...

[2020-03-20 21:19] mradamcox commented on #85
Ok, do make sure to read that forum post as this looks similar to what I've
seen in the past.

On Fri, Mar 20, 2020, 4:10 PM Angela Labrador <notifications@github.com>
wrote:

[2020-03-20 22:26] coherit commented on #85
@mradamcox  spitballing here...do you think this could be related to the fpan overrides of views/auth.py?

When I try to connect via the app, the class  CouchdbProxy from views/api.py does log "Dispatching Couch Proxy" which suggests that the app is engaging with the api. The referer error on auth/user_profile then suggests a csrf issue with auth.py.  Wondering if one of your classes needs a csrf_

[2020-03-23 14:29] coherit commented on #85
I'll be working on this today (Monday) and will thus need to be using the staging server as the test bed. I'll still develop locally on a separate branch and push/pull -- checking out master again and restarting apache if my branch breaks things unexpectedly on staging. I'll keep all settings changes on staging in the settings_local file with quick ability to comment out my changes. Just a heads u

[2020-03-23 20:39] coherit commented on #85
I made some debugging progress on this today and I suspect it has to do with the additional views added to auth.py by the fpan app. In the new 85_apiconnect branch, I've added some heavy debug logging (just tail -f on the error-fpan...log). I've edited urls.py to use an fpan version of api.py. I've added a @csrf_exempt decorator to auth in fpan/views/auth.py. I'm now getting the following log msg:

[2020-03-24 14:26] mradamcox commented on #85
@coherit Great work on this so far. It does make sense that custom auth views may be impacting this, they were put in place before the mobile survey aspect of Arches was developed. Your work on this comes right as I'm updating the app to work with Arches 5, part of which does involve some api-related changes. So it'll be really good if you're able to keep track of all the specific changes you make

[2020-03-24 15:08] mradamcox commented on #101
@kkemp85 This account should now work correctly, can you confirm?

[2020-03-24 15:14] kkemp85 commented on #101
@mradamcox yes it is fixed! Thank you!

[2020-03-24 15:14] #101 closed, assigned to nobody

[2020-03-24 16:11] mradamcox commented on #93
Just want to put this here for now: Perhaps we can send an e-mail to the scout on the day after they have signed up if they haven't yet filled out this profile info. This could just be a one-time reminder. It would be a good thing to include in #37.

[2020-03-24 17:43] mradamcox commented on #37
- [ ] reminder to reset password every 6 months to land managers (doesn't reset, just reminds)
- [ ] deactivate warning if scouts haven't signed in recently

[2020-03-24 22:27] mradamcox commented on #55
Sounds like this can be appropriately handled by adding a new Step in the resource model, similar to the existing Step 5 that is only for structures. It's likely that this addition will not cause any of the issues seen in ticket #80.

[2020-03-25 20:57] coherit commented on #117
Notes from discussion on this -- could require settings changes on geoserver because of CORS issues

[2020-03-25 22:05] coherit commented on #85
Good news: the Collector now connects to the server. Files edited: urls.py, auth.py, and settings_local.py
To test:  url = https://fpan.legiongis.com; nickname = test; login with the admin credentials

Bad news: we can add new resources but can't sync because of a datetime formatting error on the scout report model. See below.

There were a few compounding errors:

- CSRF errors -- WARNING:django.

[2020-03-26 19:17] kkemp85 commented on #50
@mradamcox disregard that last comment, HI00117C is in Arches, my mistake!

[2020-03-27 00:59] mradamcox opened #119 "Disable Shapefile Export"
We need to disable shapefile export from the search page.

[2020-03-29 21:58] #94 closed, assigned to nobody

[2020-03-30 03:22] #119 closed, assigned to nobody

[2020-03-30 03:22] #116 closed, assigned to mradamcox

[2020-03-30 03:22] #115 closed, assigned to mradamcox

[2020-03-30 03:22] #73 closed, assigned to nobody

[2020-03-30 03:23] #60 closed, assigned to nobody

[2020-03-30 03:32] mradamcox commented on #117
Recent forum post about this: https://groups.google.com/forum/#!topic/archesproject/vaBMwbYp6IY

[2020-03-30 18:30] coherit opened #122 "Replicate Issue 79, User ID should be autopopulated for Arches 5"
See the original issue https://github.com/legiongis/fpan/issues/79

[2020-03-30 19:48] kkemp85 opened #123 "Scout Report photos not attaching"
After Arches 5, there is an issue with photos not attaching to reports. It looks like when you click “add”, nothing happens. Normally once you click “add” the group of photos shows up as a dropdown under Step 6 but that is not happening. Also, once you click “add”, normally that button disappears and you then have the option to edit or delete but that isn’t happening up either – the text below the

[2020-03-30 20:29] kkemp85 opened #124 "Add Advanced Search options for Land Managers"
Now that the export button exists, I started to try out advanced search options in a land manager account just to see how we would inform them to export scout reports for their sites once that is up and running. From what I can tell, this is not even possible the way the search is set up now and will require us to create some additional search options. This is an issue for two main reasons. 1. All

[2020-03-30 21:09] coherit opened #125 "Fix scrolling on adding new resource"
The content area when adding a new resource (and perhaps other places) do not show scrollbars when they should.

.content-panel {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px); ***TOGGLING THIS HELPS ***
    position: relative;
}

[2020-03-30 21:32] coherit commented on #125
also check for issues from media/index.css

[2020-03-30 21:41] mradamcox commented on #123
The problem here was that new config info is now expected on FileListDatatype nodes. To fix it I just had to temporarily set `OVERRIDE_RESOURCE_MODEL_LOCK = True` and then in the Arches Designer go to the photo node and then save it. The new settings were then properly saved. This error wasn't occurring in the staging or local environments because those configs are automatically set with the resou

[2020-03-30 21:41] #123 closed, assigned to nobody

[2020-03-31 14:23] kkemp85 opened #126 "Missing LMU entries in Django Managed Areas"
A number of LMU entries are missing from the "Managed Area" section on the Django site. Missing entries include LMUs from State Parks, Forestry, and FWC managed lands. All LMUs missing from State Parks and forests already have Arches accounts created and have entries in the RDM. Some of the missing FWC entries have Arches accounts and exist in the RDM and some do not. I will work on creating new a

[2020-03-31 14:33] kkemp85 opened #127 "Creating State Park group accounts"
The State Park managers would like us to add an additional account level between the individual park unit account (like Tomoka State Park) and the District level accounts. These new group or cluster accounts will be able to see sites from two or more parks that are under the same park manager. That way, a park manager who manages 5 parks will not need to login to 5 different accounts to see monito

[2020-03-31 16:04] coherit commented on #125
@mradamcox  Fixed in branch 125_cssfixes:

- scroll bar on map for 1 px (this was a "feature" -- resized heights to fix)
- no scroll bar when adding resources (overflow defaulting to hidden - scroll bar now appears)
- illegible fonts on cards (updated interior admin headings to same ratio as exterior, 16px base)
- strangely centered icons in upper left (removed border around icons to fool eye)
- m

[2020-03-31 16:54] mradamcox commented on #125
@kkemp85 This is now deployed, you may have to hard refresh your browser and advise others to do the same.

[2020-03-31 16:54] #125 closed, assigned to coherit

[2020-03-31 16:56] coherit opened #129 "Update template's copyright info"
Should read copyright 2020 and Arches 5.

[2020-03-31 17:51] neilsilberman commented on #129
@mradamcox could you please add me as a collaborator on the FPAN repo?

[2020-03-31 17:58] coherit commented on #122
@mradamcox this is now applied in branch  122_scoutid_auto_upgradeto5.

I expect to have to return to this with the collector, but will address those changes under a different branch.

[2020-03-31 18:16] mradamcox commented on #129
done

[2020-03-31 18:43] mradamcox commented on #122
Looks good! When it comes to the collector, I'm not sure how this will work because I don't think these custom templates are passed along with a mobile collection project. In fact, I have no idea whether custom widgets of any sort are supported in the mobile app.

[2020-03-31 18:43] #122 closed, assigned to coherit

[2020-03-31 19:47] coherit commented on #85
@mradamcox is fpan5 staging serving over ssl? It seems to resolve to http by default and I can't get to https:// (needed to test collector access)

![image](https://user-images.githubusercontent.com/3217017/78068705-db389b80-7366-11ea-803d-e43b228ead89.png)

[2020-03-31 20:14] mradamcox commented on #85
@coherit Oh yeah, I disabled it for debugging other things. I'll enable SSL now.

[2020-03-31 20:45] neilsilberman commented on #129
@mradamcox fixed in branch 129_copyright (used Django template tag to insert current year for copyright to make it dynamic).

[2020-03-31 21:59] mradamcox commented on #117
New map source and layer are now in stored in a json fixture that is loaded with a migration.

[2020-03-31 21:59] #117 closed, assigned to mradamcox

[2020-03-31 22:06] kkemp85 opened #132 "New Arches 5 site info pop-up box- change site info read-out"
I love the new feature in Arches 5 where the pop-up box hovers over the site when you click on it, instead of the box set static at the top left of the map but, with this new feature, the site numbers are getting cut off. A lot of site names are really long and while seeing the whole site name is important, seeing the site number is more important. Is there a way to set that field to be longer or

[2020-03-31 22:29] neilsilberman commented on #129
@mradamcox now corrected

[2020-04-01 14:19] mradamcox commented on #129
Looks good, thanks!

[2020-04-01 14:19] #129 closed, assigned to neilsilberman

[2020-04-01 14:22] mradamcox commented on #124
@kkemp85 Completely understand this. May try to address it with a new button, will think about it.

[2020-04-01 15:37] coherit commented on #85
On Arches 5 and getting a new error on this branch:
`RuntimeError: Model class models.region.Region doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS.`

I've tried adding models.region to INSTALLED_APPS in settings_local, but no dice. Let me know if you've encountered this before.

[2020-04-01 15:41] coherit commented on #85
ok...seems to be related to: https://medium.com/@michal.bock/fix-weird-exceptions-when-running-django-tests-f58def71b59a

will be applying some of these suggested fixes.

[2020-04-01 17:30] kkemp85 opened #134 "Typo on the Photo Submission Form"
One of our Scouts noticed a typo in the "Upload Documents" section on the "Step 6: Photo Submission" page of the Scout Report. The r is missing from the word drop in "Drag & Drop".

While you are editing this, could you also add a statement that lets them know that they can only upload 10 items at a time? So maybe "You may upload as many documents as you wish, but you can only add 10 items at a ti

[2020-04-01 18:36] coherit commented on #85
Have caught back up to where I was in Arches 4 -- now on branch 85_up5_collector
edits required in:

- urls.py
- auth.py
- apache conf for fpan5-ssl (needed to add WSGIPassAuthorization on)

Throwing the date error, so on to that next...

[2020-04-02 01:48] mradamcox commented on #85
Looks like the Arches team picked up on your forum post: https://github.com/archesproject/arches/issues/6043

[2020-04-02 14:49] kkemp85 opened #136 "Layout issue in search bar when searching by word or phrase"
A scout pointed out to us that when she searched for a cemetery name, blue blocks would overlap her search at the top and it looks a bit glitchy. After testing this out myself I realized it has to do with a new search feature when you search by word or phrase. You have the option to search the word by its "Term Matches", I think a direct match in a resource name for that word, or by "Concepts" whi

[2020-04-02 16:51] mradamcox commented on #136
@kkemp85 Yeah, I noticed this too. I haven't used a default Arches 5 app enough yet to know about whether this a general issue or one specific to our installation.

[2020-04-02 18:14] coherit commented on #85
connection is working; will be addressing the date parsing issue separately.

[2020-04-02 18:14] #85 closed, assigned to coherit

[2020-04-13 16:52] kkemp85 commented on #124
@mradamcox This issue looks like it is going to be bigger than just a problem for land managers. One of our FPAN staff emailed me today to ask how she can search Arches to see how many shipwreck sites have Scout Reports filled out for them. I realized that there isn't a way to do this. There isn't even a way for me to get a list of Scout Reports per resource (structures, or cemeteries, or arch sit

[2020-04-13 17:13] kkemp85 opened #138 "Scout Report looks different after Arches 5 upgrade"
A scout pointed out to us that the Scout Report looks different now after the Arches 5 upgrade. It's obvious things would change, but I thought I would ask about it for my scout anyway. The first two pages (Steps 1 and 2) now have different symbols next to them instead of the pages symbol like the others in the tree structure. They also highlight differently and have extra instructions in green on

[2020-04-13 22:43] mradamcox opened #139 "Load new Mapbox overlays into staging server, add as layers in package"
These are two new Mapbox layers that @kkemp85 has made, which should get loaded into the staging server.

FPAN Regions
mapbox://styles/hmsflorida/ck8yzb8oo02el1jp6favnyhlc

State Park Districts
mapbox://styles/hmsflorida/ck8oy1eci04tc1in56ymfubxh

These layers should be added as overlays.

[2020-04-16 17:00] coherit commented on #139
@mradamcox  Can I get the credentials for the hmsflorida mapbox account or a "share style" link for these styles? Thanks!

[2020-04-16 17:06] kkemp85 commented on #139
@coherit I thought those were the share links but I must've made a mistake! I don't mind sharing the HMSflorida Mapbox login account information with you, but don't want to do so over Github. I will send to you through email.

[2020-04-16 17:08] coherit commented on #139
@kkemp85 No worries!! I did too until they didn't work  :-) I think the share links start with http://api.mapbox... and you have to make them public: [directions](https://docs.mapbox.com/help/troubleshooting/transfer-styles-between-accounts/)

[2020-04-16 17:11] kkemp85 commented on #139
@coherit Oh, I see. Yeah, I did not make them public!

[2020-04-16 18:59] coherit commented on #139
Working in dev -- @mradamcox can I have contributor access to the https://github.com/legiongis/fpan-data repo? Thanks!

[2020-04-16 21:49] coherit commented on #139
The overlays are now loaded in the staging server. However, this uncovered a css issue I need to fix (fixing the weird 1px scroll on the search/ page broke scrolling on the map settings page). I'll tackle that tomorrow.

[2020-04-17 19:51] coherit commented on #139
This is now completed and up on staging for review. Had to change the mapbox api key on staging to use the hms account -- you may need to do the same on production to get the overlays to appear.

Additional mapbox layers must be loaded in their own directory in the package file:

- fpan-data
-- map_layers
--- mapbox_spec_json
--- basemaps
---- [name of basemap]
----- *.json
--- overlays
---- [name

[2020-04-17 20:06] kkemp85 commented on #139
@coherit these look really good!

[2020-04-17 20:08] coherit commented on #139
@kkemp85 Thanks -- you made them! ;-) Great work on the mapbox side!!

[2020-04-17 20:09] kkemp85 commented on #139
@coherit thanks! Mapbox is fun!

[2020-04-22 13:34] mradamcox commented on #139
@kkemp85 These are now loaded into production. They look great :) @coherit I did update the mapbox key to make it work, good to get that taken care of anyway.

[2020-04-22 13:34] #139 closed, assigned to coherit

[2020-04-22 13:41] mradamcox commented on #138
Yeah, these are just some design changes that they implemented. The green highlighting, green note, and the `</>` symbol all serve as reminders to the editors that those nodes will be used in the displays of the resource throughout the app. In the display name, or the display description (in the list of search results) or in the map popup. I don't really think it's worth trying to get rid of as it

[2020-04-22 13:41] #138 closed, assigned to nobody

[2020-04-28 19:16] kkemp85 opened #141 "Fix region descriptions on Scout Profile page"
The region listings on the Scout Profile page are showing up as generalized "Region objects" instead of the correct region names. This is making it difficult for new scouts to complete account information.

![image](https://user-images.githubusercontent.com/54329725/80527938-26909a80-8963-11ea-99a4-cd0b1a017dfc.png)

[2020-05-05 19:13] kkemp85 opened #143 "Update text in auto-generated email to scouts upon initial sign-up"
@mradamcox and I discussed this a while back and this is an issue related to issue #93. We would like to update the verbiage for the email that is auto-sent to new scouts upon initial sign-up to Arches. We would like it to be more explicit that sign-up is a two-step process, at least until we can figure out a way to streamline and combine these steps. We would like the email that is sent to read a

[2020-05-12 19:36] mradamcox commented on #132
@kkemp85 One easy way to address potentially address this would be to change the display name to "(Siteid) Site Name" from the current "Site Name (Siteid)". This would change all across the site though. Does that sound ok?

[2020-05-12 19:43] kkemp85 commented on #132
@mradamcox yes absolutely! We almost always identify sites by Site ID only, so seeing that is much more important than the site name. Plus, when we export, if the Site ID is first it is more beneficial to us to sort by Site ID, and therefore county, then it is by site name.

[2020-05-12 21:08] mradamcox commented on #132
Sounds good. Next week during our meeting I'll show you how to do this within the interface. Reindexing will take a few hours, so it will be best for you to do it at night.

[2020-05-13 19:25] kkemp85 commented on #82
I finally have the updated "detailed instructions" document for the link at the end of number 1 under "How do I log a visit?". Here is the new link: https://drive.google.com/file/d/1NAnY6n4eLGXE0Vf0Wd-esg0ZeqZWX_SE/view?usp=sharing

[2020-05-13 20:58] kkemp85 opened #144 "Update text on Land Manager landing page"
The simple sentence on each Land manager page is no longer accurate and I would like to update it. It will vary for each type of land manager account as follows:

As a Forest Service user, you have access to all Archaeological Sites within the State Forest(s) you manage.

As a State Park user, you have access to all Archaeological Sites within the State Park(s) you manage.

As a Fish and Wildlife

[2020-05-13 21:35] kkemp85 opened #145 "Add Form links to Land Manager landing page"
This goes along with updates in issue #144

I would like to add the same box with links that scouts can see on their landing page, to the Land Manager Landing page. Here are the pdf links:

Historical Structure Form: [Fillable Form Historic Structures.pdf](https://github.com/legiongis/fpan/files/4624799/Fillable.Form.Historic.Structures.pdf)
Archaeological Site Form: [Fillable.Form.Archaeological.

[2020-05-15 15:55] mradamcox opened #146 "Put text from #144 into site-filter panel on search page"
Connected to #144, the same text that is to be displayed in the state home page should be put into the "site-filter" panel that is available in the main search page.
![image](https://user-images.githubusercontent.com/10427268/82070091-dc652400-9699-11ea-9d20-a82b891ef59b.png)
Some basic styling should be added to the panel as well.

[2020-05-15 16:21] mradamcox commented on #141
Just deployed this fix, a lingering python 2 to 3 upgrade issue.

[2020-05-15 16:21] #141 closed, assigned to mradamcox

[2020-05-15 20:21] mradamcox commented on #134
@coherit whenever you address this, could you look at the Arches core code and see if this is still a bug there? If so we should contribute the fix there (from Legion's Arches fork) and if not we should see if there's been a minor/micro release that we can upgrade to.

[2020-05-15 20:31] mradamcox commented on #55
putting this on hold at the moment as it's out of current scope

[2020-05-15 20:40] mradamcox opened #147 "Integrate Land Manager and Scout homepages with Default Arches User Profiles"
Since we first built this HMS app, Arches has added a user profile page that looks like this (/user):

![image](https://user-images.githubusercontent.com/10427268/82093956-c10e0f00-96c1-11ea-9395-710768d2bbe9.png)

We should migrate the Land Manager and Scout home pages into a customized version of this default Arches view, instead of leaving them out and completely separate as they are now. The l

[2020-05-22 15:50] mradamcox commented on #53
@kkemp85 @rosulliv14 Finally finished this. Instead of making a schedule per se, I've made [this plugin for QGIS](https://www.notion.so/legiongis/FMSF-to-HMS-QGIS-Plugin-1a413cd8aa334e9bb2180be8c6841665), so that you all can request the FMSF data as shapefiles and process it yourself whenever you want. You'll still need to pass me the CSV files at the end for the final upload, but the majority of

[2020-05-22 15:50] #53 closed, assigned to nobody

[2020-05-22 17:00] kkemp85 opened #148 "Remove Resource ID from the Map Pop-up on all resources"
I would like to remove the Resource ID number from the Map pop-up for all three resources on our map. I think it's distracting especially since this number is just for us and doesn't really mean anything to our users. Will make the pop-up look much cleaner! I do want to keep the Resource Model section however.

![image](https://user-images.githubusercontent.com/54329725/82691489-fff51500-9c2b-11ea

[2020-05-22 21:16] mradamcox commented on #126
@kkemp85 and I figured out that the missing land management areas, _are_ in the fixtures that are loaded into Arches when the database is first created, but for some reason their loading failed (no errors were reported though). Solving this will require a reevaluation of the load fixtures themselves to compare them with what actually gets saved in the database.

I'm fairly certain this is the unde

[2020-05-22 21:49] mradamcox commented on #132
All done, and the resource models with changed functions have been exported and committed to the fpan-data repo.

[2020-05-22 21:49] #132 closed, assigned to kkemp85

[2020-05-23 14:45] kkemp85 commented on #50
@mradamcox These sites are properly in the database now. Hopefully the process you set up will eliminate these kinds of issues in the future.

[2020-05-23 14:45] #50 closed, assigned to nobody

[2020-05-27 20:05] mradamcox commented on #54
This is now handled for Scouts (fix will be deployed tomorrow morning).

[2020-05-27 20:05] #54 closed, assigned to nobody

[2020-05-28 17:50] mradamcox commented on #38
This should be handled by upcoming upgrades to core Arches. We just need to keep our code base compatible.

[2020-05-28 17:53] mradamcox commented on #32
Adding this to the Land Manager account overhaul, because completing this ticket should also result in county level user accounts.

[2020-05-28 18:05] mradamcox opened #150 "Create Username Widget"
Very similar to our existing scout widget that is used by the Assigned To node, we need a multi-select widget that will return all of the usernames, not just scouts. It's likely that the scout one can be refactored (and it probably should) but that is not the main goal of this ticket.

Also, the widget should be prepopulated with the current username, just like the current functionality of the tex

[2020-05-28 18:09] mradamcox opened #151 "Update all existing Scout ID values to fit new regularized Scout ID dropdown options."
Once both #150 and #80 have been completed and deployed, all old scout reports will need to be updated using the new Scout ID widget, in order to normalize all past scout ids. The new free text field will allow the input of old scout names (pre-Arches implementation).

[2020-05-28 18:20] mradamcox opened #152 "Filter Scout Reports to only those attached to sites the user has access to"
Search filters should be applied to the Scout Report resources so that a user will only see the reports that have been made for sites that they have access to. We should be able to re-use logic and augment the current site-filter with this functionality.

[2020-05-28 18:46] mradamcox opened #153 "Fix connection to Arches Collector mobile"
@coherit has done a ton of work to move this issue very far along (see #85), but we are still having trouble syncing data. This ticket is to track that work and the solution to it.

[2020-05-29 19:29] kkemp85 opened #154 "Indexing Issue with Archaeological Sites"
After we re-indexed resource displays to be SITE ID - SITE NAME, quite a few archaeological sites still have the old-style indexing SITE NAME (SITE ID). I noticed this was the case on many sites mostly in the mid to southern Florida counties. I have a few specific examples of these issues at sites like SJ00045, SJ03702, LL00045. HI12150, SO00029, and GL00015, but there were too many sites to count

[2020-05-29 21:28] mradamcox commented on #154
@kkemp85 Ok, thanks for this, I will reindex the Archaeological Sites directly on the server tonight and I think that will solve this issue no problem. I think I know what happened: The server-side command line operation for reindexing (when you do the entire database as I usually do, rather than just one resource type) deletes the entire resources index before beginning. This means that when the

[2020-06-01 15:10] kkemp85 commented on #154
@mradamcox They all look correct now, thank you.

[2020-06-01 15:10] #154 closed, assigned to nobody

[2020-06-01 18:53] kkemp85 opened #155 "Removing MT00020 from Arches"
As @mradamcox and I discussed through email, I needed to remove a site from Arches (MT00020) that was decommissioned from the FMSF. We thought simply deleting the resource would delete it completely. It looks like doing this deleted the site information, but the polygon for the site still remains. The image shows that the polygon is still there and the map pop-up box spins forever since no data ex

[2020-06-03 17:29] mradamcox opened #159 "Updates to site-filter Search component"
The icon needs to be added to the default config for this filter.
A new migration should be made to make sure this filter is registered on package load.

[2020-06-04 18:17] coherit commented on #153
There are three sub-issues related to this ticket:

1.  Authentication errors preventing project connection and syncing = FIXED
2.  Dates being passed from the collector as full UTC datetimes see (https://github.com/archesproject/arches/issues/6043) = FIXED
3.  Photos uploaded via the Collector get named 1.jpg, causing all subsequent collector scout reports to show the same photo on the file syste

[2020-06-04 18:56] coherit commented on #153
Addressed 3 partially by installing two missing modules:
pip install django-storages
pip install boto3

Now testing file uploads... here's how to reproduce the problem:
1. Submit a scout report with photo from your phone through the collector
2. Sync the project to upload to server
Result:
![image](https://user-images.githubusercontent.com/3217017/83798516-5faedf80-a672-11ea-8857-ba771962003d.png)

[2020-06-04 20:06] mradamcox commented on #153
@coherit If I'm understanding this image naming project, I'd say this seems worthy of a new ticket in the core Arches repo, or at least a forum post to see if others have encountered the same thing.

[2020-06-04 20:31] coherit commented on #153
had to do a bit more work on the date parsing to handle cases where phones aren't passing localized timezone data (neil's phone right now). Tested against 3 phones: iphone 11, samsung galaxy 7, and pixel 3. Should handle phones that pass dates in Y-M-D format as well as full UTC, which are the two cases I've encountered so far.

[2020-06-05 17:33] coherit commented on #153
@mradamcox I've posted to the forum for issue 3 above. Once you enable ssl, I'll test the collector connection again.

[2020-06-05 17:38] mradamcox commented on #153
Ok great. That seems like a good plan. Won't be til next week at least
though.

On Fri, Jun 5, 2020, 12:33 PM Angela Labrador <notifications@github.com>
wrote:

[2020-06-09 15:08] coherit commented on #143
This has now been committed in branch https://github.com/legiongis/fpan/tree/143_email_template. I don't have SMTP on my dev box to test full workflow.

[2020-06-09 15:40] coherit commented on #134
This was fixed in Arches master on March 18
https://github.com/archesproject/arches/commit/ff8900dc4fc146f30b063abec2b918f634a029a6#diff-087bfc96fd5f766c825ba62f19fe1e0b

It's been pulled to master but no official release since 5.0.0.

Since @kkemp85 requested the change to the file # upload sentence, I've copied the template down to fpan and fixed both there manually. Committed in branch https://

[2020-06-09 16:10] coherit commented on #136
This is likely in core Arches and is the result of bad math on the box model in arches.css. The left pane is set to 400px wide, the two tabs are set to 195px each (10px of white space), but the margins of the search widget pulldown is set to 7px (left + right = 14px). So, the tabs end up stacking instead of sitting flush side by side.

Fixed by setting width of tabs to 175px each. Committed in bra

[2020-06-09 16:24] coherit commented on #144
Edited and committed to new branch (had to add the FL_WMD if statement, assuming that's the water management user group):
https://github.com/legiongis/fpan/compare/144_lms_usergroup_text

[2020-06-09 16:47] coherit commented on #148
Now overriding the map popup component in the search page to omit the resource id. Committed in branch https://github.com/legiongis/fpan/tree/148_mappopup_omituuid

[2020-07-21 19:02] kkemp85 commented on #148
Just noticed this was complete. Looks good, thanks!

[2020-07-21 19:02] #148 closed, assigned to coherit

[2020-07-21 19:10] #136 closed, assigned to nobody

[2020-08-07 18:28] kkemp85 opened #167 "Adding Zip Code to the Scout Sign up process"
@mradamcox and I have discussed before the issue we are having with the two-step signup process where Scouts sign up, then have to activate their account before they can go in and fill in their profile. We need the Scout profile info for tracking outreach and program extent data. We know there isn't an easy or quick fix to this issue for right now, but we thought one temporary solution might be to

[2020-11-02 17:50] kkemp85 opened #168 "Glitch with Scout Reports"
Previously discussed with @mradamcox, we are having issues with new Scout Report submissions. Some of the time, staff and scouts notice that, even when they click save and a new branch show up in the report tree, certain pages of the reports are not being saved or will save as brand new reports completely separate from the original. This causes fragmented Scout Reports to exist in the system. This

[2020-11-09 20:36] kkemp85 opened #169 "New Overlay Layers for WMA, State Park, and State Forest boundaries"
As discussed with @mradamcox, I will create 3 new overlay layers showing the boundaries of land management units within WMAs, State Parks, and State Forests. This solves a long-standing issue with Open Street Map and our connected basemap which does not include all the boundaries land managers would like to see within Arches. Creating overlays solves issues with overlapping boundaries within the d

[2020-11-09 20:39] kkemp85 opened #170 "New basemap for Arches"
I am creating a new basemap for Arches that will have county outlines embedded into the map, something we've desperately needed. Once the map is complete, I will send over to @mradamcox for upload to the system.

[2020-11-09 20:42] kkemp85 opened #171 "FMSF Update"
We would like to do another FMSF update to the Arches system. I am creating the CSV compatible files for arch sites, structures, and cemeteries to be updated and will send to @mradamcox when complete.

[2020-11-09 20:58] kkemp85 opened #172 "Integrating Human Remains questions and warnings back into Scout Reports"
We realized that we lost important references for Scouts about what to do when they encounter human remains in the field when the Scout Report was moved from a paper form into Arches. We would like to add these warnings back in which will require a message about encountering human remains on the "Step 3: Scout Visit Condition Assessment" page under the "Visible Artifacts" heading and adding the qu

[2020-11-09 21:06] kkemp85 opened #173 "Create Hillsborough County Arches accounts"
We have been working with more and more local land managers at the county and city level who are interested in using Arches as part of their management responsibility routine. Hillsborough County was looking to get accounts for all of its parks and preserve land. These accounts will be set up similar to State Park accounts, in the sense that the account will only be able to see arch sites within s

[2020-11-09 21:28] kkemp85 opened #174 "Location issues with Structures"
I stumbled upon an issue in Arches where some structures are not in their correct locations. It doesn't look like this is an issue with the basemap being offset from the data or anything like that since the structures aren't all in the incorrect locations and they aren't all slightly offset. Some of the structure dot markers seem to be in circular clusters when they should be in a line representin

[2020-11-23 14:38] mradamcox commented on #174
@kkemp85 All of the geometries in our database come directly from the FMSF, and from the beginning one of our underlying rules was to be a mirror of that database. So we've never changed or updated any of the site records. However, technically there isn't anything stopping you or any admin from going in and changing the geometry for these structures, but personally I think that it would be wise to

[2020-11-23 18:05] kkemp85 commented on #174
@mradamcox I can totally go in to fix these, I guess I'm just wondering what caused the issue in the first place? There are way too many in the wrong locations for this to be something a staff member altered. Maybe something happened in translation to Arches? Because the markers are in the correct locations in the FMSF GIS Data we use to update Arches, but they aren't in Arches. Is there a way to

[2021-01-04 15:30] coherit opened #176 "Upgrade Arches to 5.1"
The date parsing issue with Collector was addressed, among other things, in the 5.1 release. It seems worth pursuing an upgrade now rather than continuing on the fpan 5.0 date parse branch.

[2021-01-06 21:58] coherit commented on #176
Please see notion for full documentation of this process.

[2021-01-08 18:19] mradamcox commented on #171
This was completed in early December.

[2021-01-08 18:19] #171 closed, assigned to nobody

[2021-01-11 18:37] coherit commented on #176
closing because this branch has been merged.

[2021-01-11 18:37] #176 closed, assigned to coherit

[2021-01-11 18:49] coherit opened #178 "Connecting to Collector with Arches 5.1"
This is a continuation of Issues #85 and #153 but for Arches 5.1.

[2021-01-11 18:50] coherit commented on #153
Closing this issue to track in new Arches 5.1 version in issue #178

[2021-01-11 18:50] #153 closed, assigned to coherit, mradamcox

[2021-01-11 19:34] coherit commented on #178
After upgrading the staging server to Arches 5.1, I checked what version of couchdb was running:
`curl localhost:5984
`
which returned 3.1.1. (You can also look at the releases in /opt/couchdb.)

I then followed the docs we had on notion to replace with 2.3.1:

[code]
[set admin password]

test to see if running:
`curl http://admin:[password]@127.0.0.1:5984
`

I activated a new collector project o

[2021-01-11 23:09] coherit commented on #178
@mradamcox If Dennis and I were understanding each other in slack, it sounds like we're going to have to get celery up and running on staging. (Adding note here for myself to add issue to docs to clarify this requirement in 5.1 and to fix link in docs to celery brokers).

Would you like me to get celery set up? Do you have a preference for broker?

[2021-01-12 00:09] mradamcox commented on #178
@coherit yes, it would be great if you could get that started. Let's go with rabbitmq. After a little discussion about the new requirement, I've also updated the Arches docs: https://arches.readthedocs.io/en/stable/arches-collector-checklist/#configure-a-celery-broker

[2021-01-12 19:11] coherit commented on #178
Installed RabbitMQ following instructions at
https://docs.celeryproject.org/en/v4.4.4/getting-started/first-steps-with-celery.html
https://docs.celeryproject.org/en/v4.4.4/getting-started/brokers/rabbitmq.html

Configured the broker using credentials in notion. Left the guest user intact, but you may want to remove guest user on production if you have security concerns.

Edited settings_local.py t

[2021-01-14 22:38] coherit commented on #178
Replacing settings.ELASTICSEARCH_PREFIX with arches in the celery.py management command starts celery successfully. The Collector App successfully connects over https and I'm able to add a scout report, however I get a celery error on the sync of the report.

`[2021-01-14 16:35:19,474: WARNING/ForkPoolWorker-1] Sync failed for userid 1, with error:
string indices must be integers
  File "/opt/stag

[2021-01-15 15:39] kkemp85 opened #179 "Photo overwriting issue"
As discussed with @mradamcox through email, a photo issue occurred when he switched the image upload storage to use the AWS S3 service instead of storing the photos locally on the server and a default overwrite setting wasn't set. The issue has been solved but the photos that were overwritten need to be fixed in the system using the photo backup he created.

[2021-01-20 23:05] mradamcox commented on #174
Further investigation: We found that this is due to the fact that the initial resource load from FMSF (in 2017) for these sites did have these inaccurate locations, but since then FMSF has corrected all of the sites. So current FMSF exports show the updated locations. Initial solution for this will be a new management command something like:

    python manage.py fmsf update-geometries --input FMS

[2021-01-29 15:44] kkemp85 opened #180 "Public map issue"
The HMS website allows visitors without logins to view the HMS Arches map with structures and cemeteries. It removes archaeological sites because there are protections on their locations. However, I just noticed that Scout Reports for archaeological sites are accessible, visible, and printable. Many of these Scout Reports have information on archaeological site locations, especially if the photos

[2021-02-01 16:43] mradamcox commented on #127
This is now possible with the new Land Manager account system.

[2021-02-01 16:43] #127 closed, assigned to nobody

[2021-02-01 16:55] mradamcox commented on #173
This is now live in production. Improvements will still be made to speed up the performance of the geo filter that this account uses, but those updates will be handled in other tickets.

[2021-02-01 16:55] #173 closed, assigned to nobody

[2021-02-01 16:58] mradamcox commented on #180
This is now fixed and deployed to production: public users cannot see any scout reports. When #152 is addressed we'll look at how to allow access to reports that are connected to structures or cemeteries.

[2021-02-01 16:58] #180 closed, assigned to nobody

[2021-02-01 17:24] mradamcox commented on #134
@kkemp85 can you check this out and close if everything looks good?

[2021-02-01 17:28] #143 closed, assigned to coherit

[2021-02-01 18:59] kkemp85 commented on #134
@mradamcox yes looks good!

[2021-02-01 18:59] #134 closed, assigned to coherit

[2021-02-04 17:16] kkemp85 opened #182 "Scout Report instructions overwritten with move to Arches 5.1"
With the new update to Arches 5.1, some new underlying settings overwrote the instructions we wrote up to go on the landing page of the Scout Report. We would like the stock page to be reverted back to the instructions.

![image](https://user-images.githubusercontent.com/54329725/106929758-c1808700-66e2-11eb-985d-60cfd8915b2e.png)

[2021-02-04 17:21] kkemp85 opened #183 "Time Filter Calendar misplaced"
This may be an issue with all Arches instances with the upgrade to Arches 5.1, but the calendar for the "To" date selection now pops up in the middle of the map frame when you click on it instead of below the "To" field as it should.

![image](https://user-images.githubusercontent.com/54329725/106930394-7ca92000-66e3-11eb-8c30-4518056ac7de.png)

[2021-02-04 18:41] kkemp85 commented on #155
This has been resolved

[2021-02-04 18:41] #155 closed, assigned to nobody

[2021-02-05 16:06] kkemp85 opened #184 "VO09220 missing locational data"
The entry for VO09220 in Arches is missing locational information. If you search for the site in Arches an entry comes up for it in the Search Panel but it doesn’t show up on the map nor does the report have map data for the site. It does have locational data in the original GIS data and was once in the system so I’m thinking maybe this may have to do with the issue @mradamcox mentioned to me whic

[2021-02-10 19:29] mradamcox commented on #184
We'll leave this ticket open, but it should be solved with the current solution we have in mind for #174.

[2021-02-10 19:43] mradamcox commented on #182
This happened because core arches had been using a template called `new-editor.htm` and we had overwritten that one, but now that core arches has reverted to using `editor.htm` we need to override that template instead. Best way to do this is migrate the core arches `editor.htm` template to our app and then paste in our custom code to re-apply the HMS instructions.

[2021-02-10 20:10] coherit commented on #178
Alexei pointed out on the forums that we were missing a celery.py file in our project folder. I copied that in from the project template in the arches folder, but still hit the same error, as @mradamcox predicted. Editing the arches management command to say "fpan" instead of the settings.ELASTICSEARCH_PREFIX variable worked though. Will write back to the forum and see if this is a bug.

[2021-02-10 21:16] coherit commented on #182
This has now been fixed in https://github.com/legiongis/fpan/tree/182_scoutreport. I'll file a pull request for your review.

[2021-02-10 22:12] #182 closed, assigned to coherit

[2021-03-25 15:33] kkemp85 opened #188 "Issue with sites assigned to Scouts"
We are having an issue with sites assigned to scouts. It seems that after they are assigned, the scout can see the site in the Results Pane just fine, but when you click on the resource to open the report page, it gives an “Error 404” message instead of opening the report. Also, if you try to zoom in on the site in the map, the polygon is not showing up either, just the black marker to show that i

[2021-04-09 20:28] kkemp85 opened #189 "Weekly Email summaries incorrect"
The weekly emails I receive showing what sites have Scout Reports submitted for them is great, but it seems the system isn't properly recognizing when a site has a report submitted for the first time. The asterisk that denotes a new site being monitored is sometimes on sites that have been monitored before and then isn't next to sites that are newly monitored

[2021-05-12 16:58] mradamcox commented on #188
@kkemp85 this is the issue that has arisen a few times but I was able to fix, correct? It was fixed those times by manually refreshing the permissions table.

[2021-05-12 17:01] kkemp85 commented on #188
@mradamcox yes that is correct. I will close this ticket

[2021-05-12 17:01] #188 closed, assigned to nobody

[2021-05-19 13:46] mradamcox opened #191 "FPAN"

[2021-06-01 15:03] #191 closed, assigned to nobody

[2021-06-01 15:07] mradamcox commented on #189
As per further communication with @kkemp85, we need to change which dates are used for in the summary as well. Currently, the scout visit date is used. However, often people wait many days to enter their reports into the HMS database, meaning that late entry activity can easily be lost in this summary. So, the **report creation** date should be used, instead of the scout visit date.

[2021-06-15 18:43] kkemp85 opened #196 "The "Copy Resource" option in the Scout Report resource isn't functioning correctly"
I noticed an issue with a few users overwriting Resource Instances for certain sites (i.e. a form existed for 4-15-2020 and instead of making a new resource instance for a more recent visit, they overwrote the 2020 resource insance for one from May 2021). I thought this was just user error (they were accidentally doing this) but it happened with multiple instances. After some trial and error, I th

[2021-06-21 17:50] #150 closed, assigned to nobody

[2021-06-23 22:02] mradamcox opened #197 "Disable Copy Resource option"
This functionality does not work properly, so it should just be disabled until it does.

[2021-06-24 16:45] mradamcox commented on #80
Now completed. Extra processing was needed to set empty values for the new node in all existing tiles. In this case, it was handled with a new management command, that was used to complete #151.

[2021-06-24 16:45] #80 closed, assigned to nobody

[2021-06-24 16:48] mradamcox commented on #151
This has been handled in the production database with a new management command, after the new Scout ID(s) node was added to the Scout Report resource model.

[2021-06-24 16:48] #151 closed, assigned to nobody

[2021-06-24 17:09] mradamcox commented on #196
Closing this as @kkemp85 has put the same ticket in the core Arches repo: https://github.com/archesproject/arches/issues/7533

[2021-06-24 17:09] #196 closed, assigned to nobody

[2021-07-05 22:13] mradamcox opened #198 "Improve conditional CSS loading based on user type"
Currently we have a template `if` statement used to conditionally load different css stylesheets based on who is viewing the page, e.g. https://github.com/legiongis/fpan/blob/master/fpan/templates/fpan_base.htm#L66. This is slow and not a good solution.

To improve this conditional loading, all css classes should be combined in a single file and then renamed to include the `{{ user_type }}` string

[2021-07-05 22:20] mradamcox opened #199 "fix list style for state agency seals"
https://hms.fpan.us/auth/state

The state seals here are in a list and have a grey bullet decoration which should be removed. This should fix the alignment of these seals relative to the login box as well.

[2021-07-06 04:27] mradamcox opened #200 "Create new Management Area-related nodes linking to Django ORM management table"
A new branch needs to be added to hold a new set of management information. Currently, this information is stored in concept-list nodes that reference RDM collections of management area names, etc. This isn't a good model going forward, as there is a need to add more management areas from shapefiles and use this management area list in different ways than the RDM allows.

To this end, a new Manage

[2021-07-07 16:26] coherit commented on #197
This is now addressed in https://github.com/legiongis/fpan/tree/197_remove_copy_resource

I copied the template file navbar/resource-manage-menu.htm and commented out the option so it won't show. Should be able to uncomment (or remove this template override) once the functionality has been addressed.

[2021-07-07 19:56] coherit commented on #198
@mradamcox  I'm working on this now and have predictable behavior when the user is anonymous, scout, or landmanager. However, admin seems to return usertype=landmanager. This probably doesn't matter for aesthetics but if you are using the usertype variable for functionality elsewhere it could be a problem.

[2021-07-07 19:58] coherit commented on #198
maybe related to order of operations wtih

[code]

[2021-07-07 20:11] mradamcox commented on #198
Ok good catch. I have a feeling this is not really an issue anywhere, but making the change you suggest above is a good idea. To prepare for it, could you make css classes for "admin" which are the same as the default/anonymous? (default/anonymous style is what's currently used for admin accounts). It's a little repetitive, but would allow that change to be implemented sometime soon with the best

[2021-07-07 20:25] coherit commented on #198
Will do above. One other issue -- the login.htm template is set to use the conditional style sheets based off of {{ login_type }} since user_type = anonymous until you login. Because this template is extending the base template, the body class is already set (body.body-anonymous). Unfortunately, login_type is either hms or state (not scout/landmanager) so I can't use that as a substitute.

I can e

[2021-07-07 20:34] mradamcox commented on #198
The login page is actually the most important for these conditional styles, so 2 is out, and I'd really like to get this improvement everywhere so I'm going to say 1 is also out. It sounds like syncing the login_type (hms/state) with user_type (scout/landmanager) would really be the best solution, right? If so, in the interim (and this is again a little repetitive) how about duplicating the scout/

[2021-07-07 20:36] coherit commented on #198
Good to know -- I think I can do this if I also make the body tag be an editable portion of the fpan-base template. Let me see what I can do.

[2021-07-07 22:02] coherit commented on #198
Okay, I think this is all implemented in https://github.com/legiongis/fpan/tree/198_css_loading

I made admin and anonymous classes, so hopefully this will all work when admin changes from landmanager to admin user_type.

I also fixed a minor list issue with the state_footer_links on the login page -- took away the bullets and centered the logos. Should look better now.

[2021-07-08 18:25] coherit commented on #198
@mradamcox Do you want me to address the issue in  https://github.com/legiongis/fpan/blob/master/fpan/utils/context_processors.py#L47 within this issue/branch?

[2021-07-08 18:41] mradamcox commented on #198
Well, this is funny actually: https://github.com/legiongis/fpan/blob/master/fpan/utils/permission_backend.py#L29. Seems like this change is ripe to be made... I'd say go for it, and I'll test it out when you have it ready. I've just been looking at the css branch and it's great to have this finally fixed :)

[2021-07-09 15:43] coherit commented on #199
This is addressed in #198 as I noticed the list style (and padding issue) while changing the conditional css. Will close this when I close #198

[2021-07-09 16:25] coherit commented on #198
Okay, I think I fixed all css issues and addressed the user_type issue by changing the order of the conditional. I checked all the other places where you use user_is_land_manager and you had already provided switches for superuser (or it appeared irrelevant based on superuser permissions anyway). I'll make a PR so you can test and review

[2021-07-09 18:02] #197 closed, assigned to coherit

[2021-07-13 20:57] mradamcox opened #203 "Refactor dual login system"
We need to revert further toward the default Arches login view to hopefully address some of the irregularities @kkemp85  has been noticing.

[2021-07-14 17:17] mradamcox commented on #168
@kkemp85 Hopefully the system upgrades a couple of weeks ago fixes this issue. Can you keep an eye out and close this ticket when we haven't encountered the problem for a few more weeks?

[2021-07-14 17:27] mradamcox commented on #82
@kkemp85 I'm afraid we lost track of this and I'm only now getting the link to the detailed instructions on Google Drive added.

[2021-07-14 20:51] #203 closed, assigned to nobody

[2021-07-14 20:52] #199 closed, assigned to coherit

[2021-07-14 20:52] #198 closed, assigned to coherit

[2021-07-14 20:52] #145 closed, assigned to coherit

[2021-07-14 20:52] #82 closed, assigned to coherit

[2021-07-22 17:21] coherit commented on #183
Confirming this is still an open issue for Arches 5.2.x and I didn't find an open issue for this particular bug. Will work on a fix to contribute.

[2021-07-22 17:55] coherit commented on #183
@mradamcox This is a very easy one line css fix. Basically, if the container that the input field is not position:relative, then this positioning bug occurs (known "feature" of the bootstrap datetimepicker). Fix can be applied to arches.css (tag is .calendar.picker).

Do you want me to make this fix on the legiongis/arches/5.1.fpan branch? Make a new branch? Or fix this in the fpan repo in the pro

[2021-07-22 18:01] mradamcox commented on #183
I'd say the last option is preferable. It would be best to make ticket in the Arches repo referencing this one and then make a pull request to the master arches branch.

[2021-07-22 20:41] coherit commented on #183
@mradamcox Just upgraded another dev box with arches 5.2. I apt-get installed python3-dev to head off the error with rjsmin. Also upgraded node as per the ubuntu setup script. Upgraded arches homepage loads with 5.2 beta -- but when I go to /search I get a template error with compress (below). Do I need to change anything with settings.py? Did you encounter this with your 5.2 demos? (I would have

[2021-07-22 21:15] mradamcox commented on #183
Yeah, I think you'll just need to add the "compressor" app to
INSTALLED_APPS. I haven't updated this project yet to work with Arches 5.2,
but if you are able to get this working that would be great. Here's more
about the compressor upgrade:
https://github.com/archesproject/arches/pull/7396.

On Thu, Jul 22, 2021 at 3:41 PM Angela Labrador ***@***.***>
wrote:

[2021-07-23 18:17] mradamcox commented on #183
Merged into master branch, closing ticket now. Thanks @coherit.

[2021-07-23 18:17] #183 closed, assigned to coherit

[2021-07-23 23:45] mradamcox opened #207 "Update report to better display recorded Scout Reports"
Currently the resource reports for Archaeological Sites, Historic Cemeteries, and Historic Structures have a section at the top that lists the Scout Reports that have been entered for that site. This list was never properly formatted after recent upgrades, so it still looks like this
![image](https://user-images.githubusercontent.com/10427268/126850647-ad452134-cb52-4c66-a85b-68524e580f6c.png)

So

[2021-08-07 17:42] coherit commented on #207
In branch https://github.com/legiongis/fpan/tree/207_report_list_css I've positioned the related reports section as seen in the following screenshot. My memory is that these used to be centered in the screen, but my inclination with this report style was to align with the rest of the content below. If you prefer the related reports to be centered, I can do that instead, no problem.

![image](https

[2021-08-07 17:44] mradamcox commented on #207
I'd say this looks great. @kkemp85, what do you think?

[2021-08-09 14:05] mradamcox commented on #200
Completed and deployed to production.

[2021-08-09 14:05] #200 closed, assigned to nobody

[2021-08-09 14:05] mradamcox commented on #159
completed.

[2021-08-09 14:05] #159 closed, assigned to mradamcox

[2021-08-09 18:17] kkemp85 commented on #207
@mradamcox Yeah I think leaving it left-justified is fine, I think my only concern is that the text for the reports doesn't warp weirdly to the second line like in the picture below. I want them to spread out across the page. If we can make that happen that would be great!

![image](https://user-images.githubusercontent.com/54329725/128754258-5e283e60-dc65-4fbd-86ba-59d3d708d05e.png)

[2021-08-09 18:22] mradamcox commented on #207
@coherit when you can confirm that text wrapping is addressed for very long usernames (i.e. multiple usernames) then we'll be good to go.

[2021-08-12 16:25] coherit commented on #207
Great -- width for this content is now set to 100%.

![image](https://user-images.githubusercontent.com/3217017/129232559-ab3172b8-a68b-40a0-96a2-85cf570f696d.png)

[2021-08-12 17:18] coherit commented on #144
Revisiting this -- the statements I have now are below -- @kkemp85 let me know if these look good or if others should be changed as well:
[code]

[2021-08-12 19:49] kkemp85 commented on #144
@coherit yes these look great!

[2021-08-13 16:05] coherit commented on #146
@mradamcox possibly stupid question -- but how do I turn on the search filter with the key?
![image](https://user-images.githubusercontent.com/3217017/129387243-2706c364-2dbb-4af1-959e-7a3b890c8d76.png)

[2021-08-13 23:08] mradamcox commented on #146
You can register that search component with `python manage.py search
register -s fpan/search/components/site-filter.py`.

I'm working a lot on the land manager and scout profiles right now, so this
text will be autogenerated soon directly from a users profile. Will have
more on that next week.

On Fri, Aug 13, 2021, 12:08 PM Angela Labrador ***@***.***>
wrote:

[2021-08-16 14:37] mradamcox commented on #207
merged

[2021-08-16 14:37] #207 closed, assigned to coherit

[2021-08-16 14:40] mradamcox commented on #144
ok deploying this now. This will actually change again quite soon with the new Land Manager profiles, but glad to have this fix in in the meantime.

[2021-08-16 14:40] #144 closed, assigned to coherit

[2021-08-16 14:56] coherit commented on #146
ok, i will will hold off then until that's done!

[2021-08-17 12:51] mradamcox opened #212 "add favicon in admin pages"
Low priority but it would be nice to have the favicon in /admin pages, and following this tutorial is a simple way to do it:

https://automationpanda.com/2017/12/17/django-favicon-setup-including-admin/

[2021-08-17 20:25] mradamcox opened #214 "Rename currently listed Water Management Districts to SJRWMD"
We have Management Area Groups with names like "Water Management District - North" but in reality these are subsets of the overall St. John's River WMD. They need to be renamed with `SJRWMD` in place of `Water Management District` so that
```Water Management District - North```
becomes
```SJRWMD - North```

Renaming must take place in the following places:

- [x] https://github.com/legiongis/fpan/

[2021-08-17 20:54] mradamcox opened #215 "Rework settings.py to separate DEBUG from https protocol and log level specification"
In settings.py file there's currently an assumption that if DEBUG = False then https has been implemented (specifically where SESSION_COOKIE_SECURE is concerned. There's another assumption that if DEBUG = False then the log level will not be debug. These assumptions aren't helpful, and should be removed.

[2021-08-17 21:18] mradamcox opened #216 "Remove all pieces of original Land Manager permissions system"
Once the new LandManager profile system has been fully implemented, a lot of content can be removed from the codebase.

#### code removal
- [x] `get_rules()`, `get_state_node_match()`, and `quick_query()`methods in SiteFilter (and perhaps more)
- [x] `user_can_access_resource_instance` decorator
- [x] `UserXResourceInstanceAccess` hms model
- [x] `user_is_old_landmanager()` in permission_backend
-

[2021-08-20 13:33] #215 closed, assigned to mradamcox

[2021-08-22 19:23] mradamcox commented on #61
Closing in favor of #64

[2021-08-22 19:23] #61 closed, assigned to nobody

[2021-08-24 15:14] mradamcox commented on #167
Closing in favor of the larger overhaul in #93

[2021-08-24 15:14] #167 closed, assigned to nobody

[2021-08-24 15:22] mradamcox commented on #93
This has now been setup and will be deployed to staging for testing. I'm closing this ticket now, and we can open new ones for small specific changes or improvements that need to be made to the new form.

The new form is much longer:
![image](https://user-images.githubusercontent.com/10427268/130643095-35fc3937-b70f-4f0b-8bc5-d3c5414b29c4.png)
It has the same content as the old form at the top, an

[2021-08-24 15:22] #93 closed, assigned to nobody

[2021-08-24 15:22] mradamcox commented on #88
Done.

[2021-08-24 15:22] #88 closed, assigned to nobody

[2021-08-25 15:11] mradamcox commented on #38
Finally handled this with a new decorator that checks a user's pk against the value list in the "Scout ID(s)" node.

[2021-08-25 15:11] #38 closed, assigned to nobody

[2021-08-25 15:12] mradamcox commented on #152
Completed.

[2021-08-25 15:12] #152 closed, assigned to nobody

[2021-08-25 16:42] mradamcox opened #223 "rename site-filter --> rule-filter"
After working on this custom search component a lot in the last week and a half, the system could use a little more cohesive terminology throughout, and re-characterizing this filter as a "rule-filter" is better. It no longer only applies to Archaeological Sites (as it was initially intended) and it has be simplified to a point where it can embed many different types of graph-specific rules into s

[2021-08-25 19:08] #223 closed, assigned to nobody

[2021-08-25 22:57] coherit commented on #147
I'm on a roll with the design work. @mradamcox How would you like to handle the scout profile form? My inclination is to work it in to the "my account" panel in the user template because there's some redundant form fields. By default, the my account panel is in a display state -- the user has to click the "Edit" button to get into form state -- this would change the UX for fpan scouts. I've not mu

[2021-08-26 12:54] mradamcox commented on #147
Looking great. Don't worry about the profile section for now, I should get the proper form passed to the view before we start dealing with that, also it will be a different form based on whether it's an admin, scout, or land manager so that'll be it's own bit of work. It's possible we'll need separate templates for each of those sections that are conditionally included.

[2021-08-26 14:33] mradamcox commented on #147
Ok, having looked further into how the user profile form is managed in this template, it's not as straightforward as I was expecting.

The actual Django form is not passed to the template at all, only the user.first_name, last_name, etc. variables. When the Edit button is clicked, a few input elements are displayed that are pre-populated with these variables. When these inputs are posted with Save

[2021-08-27 15:57] coherit commented on #147
This is ready for review. Let me know what you would like tweaked -- tried to make it as close to the original hms and landmanager home pages as possible. https://github.com/legiongis/fpan/tree/147_profile_design

[2021-08-27 16:43] mradamcox commented on #147
Thanks. It's looking good but I do have a few things more in mind.

First, and probably the easiest, I'd like to get the site access section more readable. I could generate a string from the profile models that could give a verbose description, but could you first try using that dictionary of permissions rules to generate something like:

Then, below in the accessible sites section, let's start wi

[2021-08-27 16:58] coherit commented on #147
Sounds good -- as for the navigation bars -- along the top I could try restyling the white navigation bar to the maroon color (so it's more like the original "home" page). I could also style the side navigation bar as the user's accent color -- e.g. orange for scout and navy for landmanager, which should be more of a contrast with the background rice paper. I didn't tackle admin yet...

[2021-08-27 17:05] mradamcox commented on #147
Yeah, I was thinking of that for the side bar, but it may be a little jarring when the user goes to the search page, for example, and the sidebar goes from orange to blue. Perhaps the side and top can be maroon on the profile page (which would be like the home page) until the user goes to search/add resource. That may still be jarring, but a little less at least.

[2021-09-08 20:12] coherit commented on #147
There appears to be something wrong with the way the accessible_sites dictionary is building its scout report list. E.g. SJxxxxx - Matanzas Site 2 has two scout reports linked to its resource report: 1c7a5055-5dd7-45d3-863b-725f5c0f8b33 and 0346d229-27cc-40f7-b8bb-e57090c065b2. But, in the accessible_sites dictionary, the scout_reports values are: ['1a2d1325-8a10-4380-832e-621eeebc63c5', '1a2d1325

[2021-09-08 20:26] mradamcox commented on #147
Indeed, I think you're exactly right. I'll push a fix to that branch as
soon as I can.

On Wed, Sep 8, 2021 at 3:12 PM Angela Labrador ***@***.***>
wrote:

[2021-09-10 19:00] coherit commented on #147
This branch now has the style edits we discussed above. The sidebar nav is maroon, and the upper nav is maroon and mimics the old hms/home pages as much as possible. Also removed the extra banner.

![image](https://user-images.githubusercontent.com/3217017/132903799-f158be7c-84e8-463a-9424-47496810dd6b.png)

![image](https://user-images.githubusercontent.com/3217017/132903879-1d03a208-d16d-49c1-ba

[2021-09-11 16:49] mradamcox opened #225 "handle last names with spaces in them"
Recently "von lastname" caused an issue, the username creation function must remove spaces.

[2021-10-06 13:50] mradamcox commented on #147
@coherit  thanks again for all this. I went through it yesterday, made some updates, and then deployed. All set! I will leave the actual integration with the scout profile form for another ticket, I spent a while fiddling with it yesterday, but not enough to get it fully functional. Closing this ticket now.

[2021-10-06 13:51] #147 closed, assigned to nobody

[2021-10-06 13:51] mradamcox commented on #146
Completed.

[2021-10-06 13:51] #146 closed, assigned to coherit

[2021-10-06 13:57] mradamcox commented on #124
After a bit of discussion, sounds like a good direction to go with this is the addition of a button in the search interface that says something like "View Reports for Current Result." It would swap the current results with only reports that are attached to the current results.

[2021-10-11 21:07] kkemp85 opened #226 "Drop down list of Scouts for the "Who is this Site Assigned to?" not loading"
@mradamcox I know we have run into this before but it would finally load. The dropdown list of scouts for assigning archaeological sites isn't loading (in the archaeological site page). I clicked it and played with it and let it sit for about 10 minutes and it still never loaded.

[2021-10-11 21:26] kkemp85 opened #227 "Update New Scout Sign-up email"
Recent upgrades @mradamcox has made to the scout sign-up process require information changes in the email that is auto-sent to scouts upon sign-up. The email should look like the template below. The HMS logo can stay in the email as well.

**Hello [Scout]!**

Welcome to the Heritage Monitoring Scouts, we're excited to have you! To activate your account please click this link https://hms.fpan.us/ac

[2021-10-12 14:29] #227 closed, assigned to nobody

[2021-10-12 14:32] mradamcox commented on #226
@kkemp I had to add a lookup to handle the new Management Area names, and looks like I had forgotten two regions (West Central and North Central). I'm guessing the site(s) you were testing were in one of those regions. Everything should work now. Can you close this ticket when you confirm it's fixed? Thanks!

[2021-10-12 15:34] kkemp85 commented on #226
@mradamcox the site was in the Northeast region but whatever you did fixed it!

[2021-10-12 15:34] #226 closed, assigned to nobody

[2021-10-12 15:37] mradamcox commented on #226
Ah. Disconcerting, but we'll take it.

[2021-12-07 15:07] mradamcox commented on #212
I'm also seeing some 404 errors in the apache logs that are looking for /favicon.ico. I think adding this solution as well might be a good addition: https://stackoverflow.com/a/21938270/3873885

[2022-01-19 22:22] kkemp85 opened #229 "Date Interval Calendar glitch"
In the Date Interval search tab, the calendar is no longer giving the option to see all months from a specific year at once so that we can click on a month farther back, or even a month in a different year.
<img width="194" alt="image" src="https://user-images.githubusercontent.com/54329725/150224337-cbad8d37-554f-43dc-9e00-b446e5aaaa97.png">

[2022-01-19 22:27] kkemp85 opened #230 "Advanced Search not working"
As discussed with @mradamcox, many facets in the Advanced Search aren't working correctly. They aren't properly filtering results and won't allow you to remove the facet once you add it. Some facets won't even open when you try to click on them. Some, like the page below, have clear rendering issues as well. The problem affects all resources but only some facets within those resources.

<img width

[2022-01-19 22:32] kkemp85 commented on #168
As @mradamcox and I discussed, this issue is still happening, though lately, it is more frequent that pages simply just don't attach, as I experienced myself entering a form the other day in a tutorial.

[2022-01-19 22:34] kkemp85 commented on #169
@mradamcox and I determined it might be easier to do this by pulling the boundary geometries straight from Arches itself since most of what we need is already in the system being used for site permission filtering. We just need to make a plan for how and when to get it done.

[2022-01-19 22:38] kkemp85 commented on #179
@mradamcox Is this something I need to start on? Does it need to be done manually report by report?

[2022-01-19 22:53] kkemp85 opened #231 "Creating New Land Management Areas and Geometry in Django"
As outlined by @mradamcox, we need a way for me to create new land management areas on my own to make the process easier for everyone. I can do everything but add in new geometry/boundary shapefiles. He will set up a way for me to add in the geometry by linking to QGIS. This will be integral to adding in missing LMUs from State agencies and creating new local and federal level accounts.

[2022-01-19 22:58] kkemp85 opened #232 "Scout Report export"
As of now, the export of Scout Reports results in a jumble of columns that don't follow the order of the Scout Report itself. It would be good if we could have these export in the exact order they are on the live reports in Arches. This may cause issues with land managers who are using the data for reporting.

<img width="799" alt="image" src="https://user-images.githubusercontent.com/54329725/150

[2022-01-19 23:03] kkemp85 opened #233 "Order Scout Reports by visit date on Archaeological Resource page"
I know we had a ticket about this a while back and we got it fixed up, but when we did the last big upgrade I think it reverted back. We would like the Scout Reports to be listed from oldest to newest visit date on each resource's page. It's hard to tell older reports from new ones and track change through time once you get a lot of reports logged.

<img width="293" alt="image" src="https://user-i

[2022-01-28 14:23] kkemp85 opened #234 "Issue with FMSF to HMS Plugin - Structures"
I am having an issue with the structures part of the plugin. It will work when I enter just the owntype csv, but when I try to add the csv for the additional structures it just doesn't seem to be recognizing it, it runs like I didn't attach it at all. So I then get the same temporary layer as I would if I hadn't attached the additional structures csv. I made sure to follow the instructions and nam

[2022-01-28 14:49] kkemp85 opened #235 "Broadening the Historical Structure filter in the FMSF to HMS Plugin"
I'm wondering if while looking into #234, we could look at the possibility of expanding the automatic filter that structures go through in the plugin (as seen below) to include state forests and wildlife management areas. Now that we have more managers using these accounts, it would be good to add them to the regular filter. They are large areas and the process for me to go through and compare whi

[2022-02-07 20:19] kkemp85 opened #236 "Updating a Scout's Profile"
With the new Scout profile system, if you click the link to update the Scout profile, it opens a window where you can update the more in-depth Scout information including region and interests.
<img width="572" alt="image" src="https://user-images.githubusercontent.com/54329725/152864343-aee540cb-8f75-4283-8080-a10c979c9275.png">

But I noticed that once you are there, there isn't a way to get back

[2022-02-11 20:25] kkemp85 opened #237 "Admin dashboard not working/incomplete"
The admin dashboard where I used to be able to download a CSV file of Scout profile information no longer works. It gives me an error 404 message. I know there is now the ability to download a CSV file of scouts from my admin dashboard, but it doesn't include their entire profile (the open text sections are missing). I need to be able to pull entire scout profiles off of Arches.

[2022-02-14 16:46] mradamcox commented on #237
@kkemp85, yeah, the dashboard content was all moved into the profile page. Nothing has changed about that download CSV, so maybe I just need to add that those open text fields to it? I just tested from the admin profile page, and though the CSV did download correctly, the spinner just kept spinning (annoying) so that's another little thing to fix.

[2022-02-14 17:16] mradamcox commented on #236
Good catch. We initially wanted to combine all of the profile content into one page of course, but that became too complex to integrate with the default Arches profile content. But, clearly, the full usability of linking out to a separate page wasn't really followed through. @kkemp85 do you think these changes would be sufficient:

1. Add redirect to /user page after clicking "update my profile"
2

[2022-02-14 21:35] kkemp85 commented on #237
@mradamcox yes I think that's all that will need to be added, those are the only things I see missing in the file when I download it! They used to be on the old one which is weird. And yes, the spinner kept spinning on me as well but I thought it was just mine.

[2022-02-14 21:37] kkemp85 commented on #236
@mradamcox Yes, I think all of that will work great!

[2022-02-21 22:51] mradamcox commented on #237
@kkemp85 These are the current columns in the export file. Would you like me to change the order or rename any at this time? I'm inclined to clean up and capitalize the names as shown below, if that won't break anything. I'll also add the `Education/Occupation`, `Relevant Experience`, and `Interest Reasons` columns (as requested above), so let me know where to put them, or I can just put them on t

[2022-02-22 00:09] mradamcox commented on #233
Good catch, I believe this happened because the update brought us back to the default Arches way for acquiring this list of related resources. I'll look into how we can get this ordered.

[2022-02-22 00:12] mradamcox commented on #232
Once we upgrade to Arches 6.0 this will be fixed, so I'm going to put it "on hold" for now.

[2022-02-22 15:22] kkemp85 commented on #237
@mradamcox yes this order works. And yes, let's add the new columns at the end.

[2022-02-22 16:29] mradamcox opened #238 "Upgrade to Arches 6.x"
This project needs to be upgraded to the latest version of core Arches.

[2022-02-22 16:39] mradamcox commented on #232
Reevaluate after #238 is closed.

[2022-02-22 16:42] mradamcox opened #239 "Implement Better Logging"
Overall, the logging system needs to be fully promulgated throughout the entire app--there are still print statements in some places.

[2022-02-22 18:22] mradamcox opened #241 "Add robots.txt"
https://ordinarycoders.com/blog/article/robots-text-file-django

[2022-02-22 23:27] mradamcox commented on #230
Ok, I've sorted this out. There were actually quite a few errors on different nodegroups, but the one in the screenshot stemmed from the custom widget/datatype combos that we use to reference the management areas and agencies. Similarly, there was an error with the username dropdown that is used for the visiting Scout ID(s) node in the Scout Report.

@kkemp85 I've tested around and Advanced Search

[2022-02-22 23:27] #230 closed, assigned to nobody

[2022-02-22 23:42] mradamcox commented on #229
Let's check this again after we've finished the underlying upgrade, I have a feeling whatever library creates that calendar could be a little out of date.

[2022-02-23 00:06] #225 closed, assigned to nobody

[2022-02-23 00:06] #236 closed, assigned to nobody

[2022-02-23 00:06] #239 closed, assigned to nobody

[2022-02-23 00:12] #241 closed, assigned to nobody

[2022-02-23 00:12] #237 closed, assigned to nobody

[2022-02-23 00:13] #212 closed, assigned to nobody

[2022-03-27 15:54] mradamcox commented on #231
Central to this is going to be a new receiver on the ManagementArea model that is triggered via the post_save signal (or something like that) and will push the saved management area's id to any overlapping geometries.

[2022-04-29 13:20] kkemp85 opened #242 "Scout account activation link not working"
I've had two recent scouts email me to say the activation link in the automated emails isn't working. This could be a fluke, especially since both scouts accounts were activated, but wanted to let you know just in case you wanted to check for an issue.

[2022-05-12 16:53] kkemp85 opened #243 "New fields for resource hubs"
We want to add some new descriptive fields from the FMSF data into each resource. Some of the data will come from the "santaclaus" access database from the FMSF similar to the "owntype" field. These will be spatially joined to the data in the updating process in the FMSF to HMS plugin (associated with issues #234 and #235).

The fields are as follows:
- arch sites - none for now, need to hear from

[2022-05-12 23:50] #124 closed, assigned to nobody

[2022-05-16 21:37] kkemp85 opened #245 "HC_Manager account issues"
Got contacted by the Hillsborough County user that the account wasn't showing arch sites. I went in to look at the issue and sure enough, they were no longer seeing arch sites or had access to any. It looks like their account wasn't listed as a land manager account anymore so I went in, maybe wrongly, and deleted it and just made a new land manager account with the same name (the system wouldn't l

[2022-07-27 17:11] mradamcox commented on #178
Due to the impending deprecation of the Arches Collector app, we won't be pursuing this support anymore.

[2022-07-27 17:11] #178 closed, assigned to coherit

[2022-08-05 13:20] #238 closed, assigned to nobody

[2022-08-05 13:22] #232 closed, assigned to nobody

[2022-08-09 21:56] mradamcox commented on #170
Added to fpan-data and deployed to prod server. looks good!
![image](https://user-images.githubusercontent.com/10427268/183768830-0eb66bc6-2f1e-49b0-80a6-8749fda103db.png)

[2022-08-09 21:56] #170 closed, assigned to nobody

[2022-08-09 21:57] mradamcox commented on #86
No longer relevant, as Arches Collector is out of the picture.

[2022-08-09 21:57] #86 closed, assigned to nobody

[2022-09-09 22:11] kkemp85 opened #248 "Forbidden 403 error when scouts try to sign in"
Scouts have mentioned getting this screen fairly often when they try to log in. I've seen the issue as well. A simple refresh usually fixes it but would be better to eliminate the issue if possible.

![286214484_743374330095077_3337566642297946449_n](https://user-images.githubusercontent.com/54329725/189452724-f35f35d1-9d21-4eb5-8432-0fedddbb32d1.jpg)

[2022-09-16 20:14] mradamcox commented on #235
@kkemp85 I'm setting up the new FMSF import process to use Management Areas that we have in our database, instead of the separate shapefile that we were using the QGIS plugin. However, for now I'll still be hard-coding the categories into the process (we could make it configurable during each data import session in the future.

Could you specify here which categories I should include? You can use

[2022-09-16 20:28] mradamcox commented on #242
@kkemp85 didn't realize you had made this ticket, but I believe this was the past example of an issue with Outlook that we encountered. To summarize what I found when this issue came up again recently (and how I've addressed it):

When I looked into this further with an Outlook account, I realized that Outlook hits the link that is in the email before the email is delivered--I assume for a securit

[2022-09-16 20:28] #242 closed, assigned to nobody

[2022-09-16 21:50] mradamcox commented on #248
I've seen this too, once or twice. It seems that the user is logged in properly, but maybe the error happens during the redirect. Like you say, refreshing the page solves the issue.

[2022-09-22 16:53] kkemp85 commented on #235
@mradamcox If I am understanding you correctly you are asking me to list which management area categories to apply the historic structure filter? If that's the case I would say it needs to be applied to all categories except the FPAN region category.

I see that you are taking care of the NR district filter, but just want to make sure that we also filter in the lighthouses as well.

[2022-09-22 17:15] mradamcox commented on #235
Ok, sounds good, we'll just use all management areas beside the FPAN Regions in that case. The spatial filter during upload will take longer to run, but that's fine, it will be configured to run in the background anyway. I do still have the lighthouse filter in place, as well as filtering out any structures that are marked as destroyed.

[2022-10-14 16:18] kkemp85 commented on #229
It looks like this issue is back again . .

<img width="243" alt="image" src="https://user-images.githubusercontent.com/54329725/195893812-28a43fb4-05fb-4f4a-b72b-c912d5a8bbac.png">

[2022-10-20 17:32] kkemp85 opened #250 "Photo Scroll at the top of Scout Reports not working"
The photos scroll at the top of Scout Reports is having an error and only showing the name of an uploaded pic. If you try to click on the image it gives you an error 404 error. The images are showing up in the Step 6 area at the bottom of the Scout Report, however.

<img width="955" alt="image" src="https://user-images.githubusercontent.com/54329725/197018135-04ac1e3b-b8cf-4053-a59e-adba998acdb4.p